<section id="calendar" class="calendar">
    <div class="text-center iframeCal">
        <iframe title="Google Calendar"
            src="https://calendar.google.com/calendar/embed?src=<%= CALENDAR_ID %>&ctz=Asia%2FTokyo" style="border: 0"
            width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>
    <br>
    <br>

<% if (tickets.length> 0) { %>
    <section id="results" class="results">
        <div class="container">
            <h3>購入したレッスン一覧</h3>
            <hr>
            <div class="row">
                <% for(let i=0; i < tickets.length; i++) { %>
                    <div class="col-lg-4 col-xs-6">
                        <div class="box">
                            <a href="/lesson/student/<%= tickets[i]._id %>">
                                <img src="data:image/<%=tickets[i].thumbnail.contentType%>;base64, <%=tickets[i].thumbnail.data.toString('base64')%>"
                                    alt="thumbnail">
                            </a>
                            <h4 id="tickets.title<%= i %>">
                                <%= tickets[i].title %>
                                <%= run_status[i] %>
                            </h4>
                            <a class="special" href="/choreographer/<%= choreographer[i].googleId %>">
                                <%= choreographer[i].username %>
                            </a>
                            <p>
                                <%= tickets[i].price %> Yen | <%= time2[i] %>
                            </p>
                            <p class="mb-0">
                                <%= __(`dashboard.search.level.${tickets[i].level[0]}`) %> |
                                <%= __(`dashboard.search.genre.${tickets[i].genre[0]}`) %> |
                                <%= __(`dashboard.search.purpose.${tickets[i].purpose[0]}`) %> |
                                <%= __(`dashboard.search.mood.${tickets[i].mood[0]}`) %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
<% } %>
    </div>
</section>