<div class="text-center iframeCal">
    <iframe title="Google Calendar" src="https://calendar.google.com/calendar/embed?src=<%= CALENDAR_ID %>&ctz=Asia%2FTokyo" style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
</div>
<br>
<br>

<% if (tickets.length> 0) { %>
    <section id="results" class="results">
        <h3>購入したレッスン一覧</h3>
        <hr>
        <div class="row">
            <% for(let i=0; i < tickets.length; i++) { %>
                <div class="col-lg-3 col-xs-6 pad">
                    <div class="box">
                        <a href="/lesson/student/<%= tickets[i]._id %>">
                        <img src="<%=tickets[i].thumbnail%>"
                            alt="thumbnail">
                    </a>
                        <h4 id="tickets.title<%= i %>">
                            <%= tickets[i].title %>
                        </h4>
                        <a class="special" href="/choreographer/<%= tickets[i].choreographerID %>">
                            <%= choreographer[i].username %>
                        </a>
                        <p>
                            <%= tickets[i].price %>
                                <%= __('dashboard.Yen') %> |
                                    <%= moment(tickets[i].time).format('MM/DD HH:mm'); %> |
                                        <%= __(`dashboard.search.level.${tickets[i].level[0]}`) %> |
                                            <%= __(`dashboard.search.genre.${tickets[i].genre[0]}`) %>
                                                <a class="btn btn-sm btn-dark" href="/lesson/student/details/<%= tickets[i]._id %>">詳細</a>

                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </section>
    <% } %>