<!-- live video & chat section -->
<div class="top-space">
    <section id="channel_grid">
        <div class="container">
            <%- include ('partials/messages') %>
                <p class="block_label">チャンネル一覧</p>
                <p>詳しいOBSの使用方法の説明は<a
                        href="https://support.vibin.tokyo/page/OBS%E3%81%AE%E8%A8%AD%E5%AE%9A%E6%96%B9%E6%B3%95%E3%82%92%E6%95%99%E3%81%88%E3%81%A6%E3%81%8F%E3%81%A0%E3%81%95%E3%81%84"
                        target="blank">こちら</a></p>
                <form action="/lesson/reset_streamkey" method="post">
                    <% if (count !=0) { %>
                        <div class="channel_infor">
                            <div class="label">チャンネル名</div>
                            <div class="content">
                                <%= ch_name %>
                            </div>
                            <div class="label">遅延タイプ</div>
                            <div class="content">
                                <%= ch_latency %>
                            </div>

                            <div class="label">チャット埋め込み用URL</div>
                            <div class="content">
                                <a href="<%= ch_chatURL %>">
                                    <%= ch_chatURL %>
                                </a>
                            </div>
                            <!-- <div class="label">Channel Type</div>
                            <div class="content">
                                <%= ch_type %>
                            </div>
                            <div class="label">Channel ARN</div>
                            <div class="content">
                                <%= ch_arn %>
                            </div> -->
                            <div class="label">取り込みサーバー</div>
                            <div class="content"><input type="text" readonly class="ch_infor" value="<%= ch_ingest %>"
                                    id="ch_ingest"> <button type="button" class="copy_btn" id="copy_ingest"
                                    title="copy Ingest server" onclick="copyIngest()"><img src="/assets/img/copy.png"
                                        alt=""></button></div>
                            <div class="label">ストリームキー</div>
                            <div class="content"><input type="password" readonly class="ch_infor"
                                    value="<%= ch_streamkey %>" id="ch_streamkey">
                                <button type="button" class="copy_btn" id="copy_skey" title="copy Stream key"
                                    onclick="copyStream()"><img src="/assets/img/copy.png" alt=""></button>
                                <p>ストリームキーは誰にも教えないでください。配信で見せるようなことも決してしないでください！</p>
                                <label class="form-check-label">
                                    <input type="checkbox" onclick="showStreamKey()">表示する
                                </label>
                            </div>

                            <div class="btn_grid">
                                <button type="submit" class="btn btn-dark">ストリームキーをリセットする</button>
                            </div>
                        </div>
                        <% } %>
                </form>

                <% if (count==0) { %>
                    <div class="channel_box">
                        <form action="/lesson/create_channel" method="post">
                            <p class="desc">新規チャンネルを登録するには「チャンネル新規作成」ボタンをクリックしてください。</p>
                            <div class="btn_line">
                                <button type="submit" class="btn btn-dark">チャンネル新規作成</button>
                            </div>
                        </form>
                    </div>
                    <% } %>
        </div>
    </section>

    <script>
        function showStreamKey() {
            const check = document.getElementById("ch_streamkey");
            if (check.type === "password") {
                check.type = "text";
            } else {
                check.type = "password";
            }
        }

        function copyIngest() {
            var copyText = document.getElementById("ch_ingest");

            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            navigator.clipboard.writeText(copyText.value);
        }

        function copyStream() {
            var copyText = document.getElementById("ch_streamkey");

            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            navigator.clipboard.writeText(copyText.value);
        }
    </script>