<!-- live video & chat section -->
<div class="top-space">
<section id="channel_grid">
    <div class="container">
        <%- include ('partials/messages') %>
            <p class="block_label">チャンネル一覧</p>
            <form action="/lesson/delete_channel" method="post">
                <% if (count !=0) { %>
                    <div class="channel_infor">
                        <div class="label">チャンネル名</div>
                        <div class="content"><%= ch_name %></div>
                        <div class="label">Channel Latency</div>
                        <div class="content"><%= ch_latency %></div>
                        <div class="label">Channel Type</div>
                        <div class="content"><%= ch_type %></div>
                        <div class="label">Channel ARN</div>
                        <div class="content"><%= ch_arn %></div>
                        <div class="label">Ingest server</div>
                        <div class="content"><input type="text" readonly class="ch_infor" value="<%= ch_ingest %>" id="ch_ingest"> <button type="button" class="copy_btn" id="copy_ingest" title="copy Ingest server"><img src="/assets/img/copy.png" alt=""></button></div>
                        <div class="label">Stream key</div>
                        <div class="content"><input type="text" readonly class="ch_infor" value="<%= ch_streamkey %>" id="ch_streamkey"> <button type="button" class="copy_btn" id="copy_skey" title="copy Stream key"><img src="/assets/img/copy.png" alt=""></button></div>
                        
                        <div class="btn_grid">
                            <button type="submit" class="btn btn-dark">チャンネル削除</button>
                            <a href="/lesson/techer" class="btn btn-dark">レッスンを開始する</a>
                        </div>
                    </div>
                <% } %>
            </form>

            <% if (count==0) { %>
                <p class="block_label">チャンネル設定</p>
                <div class="channel_box">
                    <form action="/lesson/create_channel" method="post">
                        <p class="desc">新規チャンネルを登録するには下記よりチャンネル名を入力し、「チャンネル新規作成」ボタンをクリックしてください。</p>
                        <div class="input_line">
                            <label for="ch_name">チャンネル名</label>
                            <input type="text" name="ch_name" id="ch_name">
                        </div>
                        <!-- <div class="input_line">
                    <label for="ch_tag">タグ内容</label>
                    <input type="text" name="ch_tag" id="ch_tag" placeholder="タグの内容はカンマ(,)で区切って入力してください。">
                </div> -->
                        <div class="btn_line">
                            <button type="submit" class="btn btn-dark">チャンネル新規作成</button>
                        </div>
                    </form>
                </div>
                <% } %>
    </div>
</section>


<!-- Video Player JS File -->
<!-- <script src="/assets/js/video.js"></script> -->


<!-- AWS IVS service SDK -->

<!-- <script src="/assets/js/video.techer.config.js"></script> -->