<div class="top-space"></div>
<section id="results" class="results">
  <div class="container">
    <%- include ('partials/messages') %>
    <h3><%= choreographer %>'s videos</h3>
    <p>We have <%= count %> videos in total!</p>
    <div class="row">
      <% for(let i=0; i < videos.length; i++) { %>
      <div class="col-lg-4 col-xs-6">
        <div class="box">
          <a href="/player/<%= id[i] %>">
            <img src="<%= thumbnail[i] %>" alt="thumbnail">
          </a>
          <h4><%= title[i] %></h4>
          <p><%= choreographer %></p>
          <p><%= level[i][0] %></p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>