<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Vibin'</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/dashboard/-1?page=1&limit=15">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <a href="/upload" class="get-started-btn scrollto">Upload</a>
    </div>
</header>

<section id="results" class="results">
    <div class="container">
        <%- include ('partials/messages') %>
        <h3><%= choreographer %>'s videos</h3>
        <p>We have <%= count %> videos in total!</p>
        <div class="row">
            <% for(let i=0; i < videos.length; i++) { %>
            <div class="col-lg-4">
                <div class="box">
                    <a href="/player/<%= id[i] %>">
                        <img src="<%= thumbnail[i] %>">
                    </a>
                    <h4><%= title[i] %></h4>
                    <p><%= choreographer %></p>
                    <p><%= level[i] %></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vibin'</h3>
            <p>
              <strong>Phone:</strong> +81 080 4339 9251<br>
              <strong>Email:</strong> info@vibin.tokyo<br>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Sitemap</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Get the latest news from Vibin'!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook"><i
                class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/vibin_dance/" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer>