<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.2/moment-duration-format.js"></script>
</head>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">Vibin'</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a href="/dashboard/-1?page=1&limit=15">Home</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li class="active"><a href="/upload">Upload</a></li>
            </ul>
        </nav>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down">
                    <% if (typeof userPhotoDef.data != "undefined") { %>
                    <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                        height="40" width="40" style="border-radius: 50%;" alt="user photo">
                    <% } else { %>
                    <img src="<%= userPhoto %>" height="40" width="40" style="border-radius: 50%;" alt="user photo">
                    <% } %>
                    <ul>
                        <li><a href="/users/profile">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<section id="upload">
    <div class="col-lg-6 m-auto">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i>UPLOAD</h1>
        <%- include ('partials/messages') %>
        <form action="/upload" method="POST">

            <a href="https://zoom.us/oauth/authorize?response_type=code&client_id=<%= CLIENT_id %>&redirect_uri=http://localhost:5000/create">Login with Zoom</a>
            <a href="https://zoom.us/oauth/token?grant_type=authorization_code&code=6I5Msb5izd_ncMjK-DWRMCEPo9nmI_o6g&redirect_uri=localhost:5000/create">Login with Zoom</a>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="title" id="title" name="title" class="form-control" placeholder="Enter The Title"
                    value="<%= typeof title != 'undefined' ? title : '' %>" readonly />
            </div>

            <div class="form-group">
                <label for="thumbnail">Thumbnail</label>
                <input type="thumbnail" id="thumbnail" name="thumbnail" class="form-control"
                    placeholder="Enter The Thumbnail" value="<%= typeof thumbnail != 'undefined' ? thumbnail : '' %>"
                    readonly />
            </div>

            <div class="form-group">
                <label for="url">URL</label>
                <input type="url" id="url" name="url" class="form-control" placeholder="Enter The URL"
                    value="<%= typeof url != 'undefined' ? url : '' %>" readonly />
            </div>

            <div class="form-group" id="languageInput">
                <label for="language">Language</label>
                <input type="language" id="language" name="language" class="form-control"
                    placeholder="Enter The Language" value="<%= typeof language != 'undefined' ? language : '' %>"
                    readonly />
            </div>

            <div class="form-group" id="languageDrop" hidden>
                <label for="language">Language</label>
                <select class="form-control" type="language" id="inputState" name="language">
                    <option selected="null" value="any">Language</option>
                    <option value="ja">Japanese</option>
                    <option value="en">English</option>
                    <option value="ko">Korean</option>
                    <option value="es">Spanish</option>
                </select>
            </div>

            <div class="form-group">
                <label for="choreographer">Choreographer</label>
                <input type="choreographer" id="choreographer" name="choreographer" class="form-control"
                    placeholder="Enter The Choreographer"
                    value="<%= typeof choreographer != 'undefined' ? choreographer : '' %>" />
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="price" id="price" name="price" class="form-control" placeholder="Enter The Price"
                    value="<%= typeof price != 'undefined' ? price : '' %>" />
            </div>

            <div class="form-group">
                <label for="level">Level</label>
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" type="checkbox"
                                value="Beginner">Beginner</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Intermediate">Intermediate</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="level" name="level" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Advanced">Advanced</label>
                    </div>
            </div>

            <div class="form-group">
                <label for="genre">Genre</label>
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" type="checkbox" value="Hip Hop">Hip
                            Hop</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Locking">Locking</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Jazz">Jazz</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Breakin">Breakin</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="House">House</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Popping">Popping</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="K-POP">K-POP</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="TikTok">TikTok</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Bollywood">Bollywood</label>
                    </div>
            </div>

            <div class="form-group">
                <label for="purpose">Purpose</label>
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" type="checkbox"
                                value="Skill Improvements">Skill Improvements</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Health and Exercise">Health and Exercise</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Entertainment">Entertainment</label>
                    </div>
            </div>

            <div class="form-group">
                <label for="mood">Mood</label>
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" type="checkbox"
                                value="Groovy">Groovy</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Funky">Funky</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Chill">Chill</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Romantic">Romantic</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Sexy">Sexy</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Calm">Calm</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Angry">Angry</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Peaceful">Peaceful</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Sad">Sad</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Fearful">Fearful</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Happy">Happy</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Tense">Tense</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Sassy">Sassy</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Savage">Savage</label>
                    </div>
            </div>

            <div class="text-center"><button class="button" type="submit">Upload</button></div>
        </form>
    </div>
</section>

<div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-light justify-content-center">
        <ul>
            <li><a href="/dashboard/-1?page=1&limit=15">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </a>Home</li>
            <li><a href="/calendar">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-plus"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                        <path fill-rule="evenodd"
                            d="M7.5 9.5A.5.5 0 0 1 8 9h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z" />
                        <path fill-rule="evenodd"
                            d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                        <path fill-rule="evenodd"
                            d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a>Calendar</li>
            <li class="active"><a href="/upload">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8zM5 4.854a.5.5 0 0 0 .707 0L8 2.56l2.293 2.293A.5.5 0 1 0 11 4.146L8.354 1.5a.5.5 0 0 0-.708 0L5 4.146a.5.5 0 0 0 0 .708z" />
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 2z" />
                    </svg>
                </a>Upload</li>
            <li><a href="/users/profile">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                        <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                        <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </a>User</li>
        </ul>
    </nav>
</div>

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Vibin'</h3>
                    <p>
                        <strong>Phone:</strong> +81 080 4339 9251<br>
                        <strong>Email:</strong> info@vibin.tokyo<br>
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Sitemap</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/dashboard/-1?page=1&limit=15">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/calendar">Calendar</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/upload">Upload</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Get the latest news from Vibin'!</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook" target="_blank"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/vibin_dance/" class="instagram" target="_blank"><i
                            class="bx bxl-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>