<body onload="setTime()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<div class="top-space"></div>
<div class="col-lg-8 m-auto">
    <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i><%= __('create.create') %></h1>
    <%- include ('partials/messages') %>

        <% if (typeof account !="undefined" ) { %>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><%= __('create.bank') %></h3>
                    <p>
                        <%= account.email %>
                    </p>
                    <p>
                        <%= account.external_accounts.data[0].bank_name %>
                    </p>
                    <p>
                        <%= account.external_accounts.data[0].account_holder_name %>
                    </p>
                    <p>**** ****
                        <%= account.external_accounts.data[0].last4 %>
                    </p>
                    <a class="btn btn-danger" href="<%= loginLink.url %>" target="_blank" role="button"><%= __('create.stripe') %></a>
                </div>
            </div>
            <% } %>

                <form action="/create" method="POST" enctype="multipart/form-data" style="margin-top: 3%;">

                    <div class="form-group">
                        <label for="title"><%= __('create.title') %></label>
                        <input type="title" id="title" name="title" class="form-control" placeholder="<%= __('create.titlePlace') %>"
                            value="<%= typeof title != 'undefined' ? title : '' %>" />
                    </div>

                    <!-- <div class="form-group">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="thumbnail" id="thumbnail" name="thumbnail" class="form-control"
                            placeholder="Enter The Thumbnail"
                            value="<%= typeof thumbnail != 'undefined' ? thumbnail : '' %>" />
                    </div> -->

                    <div class="form-group">
                        <label for="Photo"><%= __('create.thumbnail') %><p><small><%= __('create.thumbnailDesc') %></small>
                            </p></label>
                            <br><img id="output" src="" height="180" width="320" alt="thumbnail" style="margin-bottom: 2%; display:none"/>
                            <input type="file" id="thumbnail" name="thumbnail" accept="image/*" onchange="loadFile(event)" />
                    </div>

                    <div class="form-group" id="languageDrop">
                        <label for="language"><%= __('dashboard.search.language.top') %></label>
                        <select class="form-control" type="language" id="inputState" name="language">
                            <option selected="null" value="any">
                                <%= __('dashboard.search.language.top') %>
                            </option>
                            <option value="ja">
                                <%= __('dashboard.search.language.Japanese') %>
                            </option>
                            <option value="en">
                                <%= __('dashboard.search.language.English') %>
                            </option>
                            <option value="ko">
                                <%= __('dashboard.search.language.Korean') %>
                            </option>
                            <option value="es">
                                <%= __('dashboard.search.language.Spanish') %>
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="choreographer"><%= __('create.choreo') %></label>
                        <input type="choreographer" id="choreographer" name="choreographer" class="form-control"
                            placeholder="Enter The Choreographer"
                            value="<%= typeof choreographer != 'undefined' ? choreographer : '' %>" readonly/>
                    </div>

                    <div class="form-group">
                        <label for="time"><%= __('create.time') %></label>
                        <input type="datetime-local" id="time" name="time" class="form-control"
                            value="<%= typeof time != 'undefined' ? time : '' %>">
                    </div>

                    <div class="form-group">
                        <label for="price"><%= __('create.price') %></label>
                        <input type="number" id="price" name="price" class="form-control" placeholder="<%= __('create.pricePlace') %>"
                            value="<%= typeof price != 'undefined' ? price : '' %>" min="0" step="100" />
                    </div>

                    <div class="form-group">
                        <label for="level"><%= __('dashboard.search.level.top') %></label>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="level" name="level" class="form-check-input" type="checkbox"
                                        value="Beginner"><%= __('dashboard.search.level.Beginner') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="level" name="level" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Intermediate"><%= __('dashboard.search.level.Intermediate') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="level" name="level" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Advanced"><%= __('dashboard.search.level.Advanced') %></label>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="genre"><%= __('dashboard.search.genre.top') %></label>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                        value="Hip Hop"><%= __('dashboard.search.genre.Hip Hop') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Locking"><%= __('dashboard.search.genre.Locking') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Jazz"><%= __('dashboard.search.genre.Jazz') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Breakin"><%= __('dashboard.search.genre.Breakin') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="House"><%= __('dashboard.search.genre.House') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Popping"><%= __('dashboard.search.genre.Popping') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="K-POP"><%= __('dashboard.search.genre.K-POP') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="TikTok"><%= __('dashboard.search.genre.TikTok') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Bollywood"><%= __('dashboard.search.genre.Bollywood') %></label>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="purpose"><%= __('dashboard.search.purpose.top') %></label>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="purpose" name="purpose" class="form-check-input" type="checkbox"
                                        value="Skill Improvements"><%= __('dashboard.search.purpose.Skill Improvements') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Health and Exercise"><%= __('dashboard.search.purpose.Health and Exercise') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="purpose" name="purpose" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Entertainment"><%= __('dashboard.search.purpose.Entertainment') %></label>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="mood"><%= __('dashboard.search.mood.top') %></label>
                        <fieldset class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" type="checkbox"
                                        value="Groovy"><%= __('dashboard.search.mood.Groovy') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Funky"><%= __('dashboard.search.mood.Funky') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Chill"><%= __('dashboard.search.mood.Chill') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Romantic"><%= __('dashboard.search.mood.Romantic') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Sexy"><%= __('dashboard.search.mood.Sexy') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Calm"><%= __('dashboard.search.mood.Calm') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Angry"><%= __('dashboard.search.mood.Angry') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Peaceful"><%= __('dashboard.search.mood.Peaceful') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Sad"><%= __('dashboard.search.mood.Sad') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Fearful"><%= __('dashboard.search.mood.Fearful') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Happy"><%= __('dashboard.search.mood.Happy') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Tense"><%= __('dashboard.search.mood.Tense') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Sassy"><%= __('dashboard.search.mood.Sassy') %></label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="mood" name="mood" class="form-check-input" class="form-check-input"
                                        type="checkbox" value="Savage"><%= __('dashboard.search.mood.Savage') %></label>
                            </div>
                    </div>

                    <div class="text-center" style="margin:3%;"><button class="btn btn-danger btn-lg" type="submit"><%= __('create.create') %></button>
                    </div>
                </div>
            </form>
        </div>
    </body>

<script>
    const loadFile = function (event) {
        const image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        image.style.display = "block"
        console.log(image.style.display)
    };

    function setTime() {
        const min = moment().add(1, 'd')
        document.getElementById('time').min = min.format('YYYY-MM-DDThh:mm')
        console.log(document.getElementById('time').min)
    };
</script>