<body>
    <link rel="canonical" href="https://www.vibin.tokyo/dashboard/-1?page=1&limit=15">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <section id="searchBar" class="searchBar">
        <div class="search-bar">
            <form action="/dashboard" method="POST">
                <h2 class="user">
                    <%= __('dashboard.welcome.welcome') %>
                        <%= username %>
                            <%= __('dashboard.Quote.top') %> <span id="random"></span>
                </h2><br>

                <div class="form-group">
                    <select class="form-control chosen-value" type="language" id="language" name="language">
                        <option selected="null" value="any">
                            <%= __('dashboard.search.language.top') %>
                        </option>
                        <option value="ja">
                            <%= __('dashboard.search.language.Japanese') %>
                        </option>
                        <option value="en">
                            <%= __('dashboard.search.language.English') %>
                        </option>
                        <option value="ko">
                            <%= __('dashboard.search.language.Korean') %>
                        </option>
                        <option value="es">
                            <%= __('dashboard.search.language.Spanish') %>
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control chosen-value" type="level" id="level" name="level">
                        <option selected="null" value="any">
                            <%= __('dashboard.search.level.top') %>
                        </option>
                        <option value="Beginner">
                            <%= __('dashboard.search.level.Beginner') %>
                        </option>
                        <option value="Intermediate">
                            <%= __('dashboard.search.level.Intermediate') %>
                        </option>
                        <option value="Advanced">
                            <%= __('dashboard.search.level.Advanced') %>
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control chosen-value" type="genre" id="genre" name="genre">
                        <option selected="null" value="any">
                            <%= __('dashboard.search.genre.top') %>
                        </option>
                        <option value="Hip Hop">
                            <%= __('dashboard.search.genre.Hip Hop') %>
                        </option>
                        <option value="Locking">
                            <%= __('dashboard.search.genre.Locking') %>
                        </option>
                        <option value="Jazz">
                            <%= __('dashboard.search.genre.Jazz') %>
                        </option>
                        <option value="Breakin">
                            <%= __('dashboard.search.genre.Breakin') %>
                        </option>
                        <option value="House">
                            <%= __('dashboard.search.genre.House') %>
                        </option>
                        <option value="Popping">
                            <%= __('dashboard.search.genre.Popping') %>
                        </option>
                        <option value="K-POP">
                            <%= __('dashboard.search.genre.K-POP') %>
                        </option>
                        <option value="TikTok">
                            <%= __('dashboard.search.genre.TikTok') %>
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control chosen-value" type="purpose" id="purpose" name="purpose">
                        <option selected="null" value="any">
                            <%= __('dashboard.search.purpose.top') %>
                        </option>
                        <option value="Skill Improvements">
                            <%= __('dashboard.search.purpose.Skill Improvements') %>
                        </option>
                        <option value="Health and Exercise">
                            <%= __('dashboard.search.purpose.Health and Exercise') %>
                        </option>
                        <option value="Entertainment">
                            <%= __('dashboard.search.purpose.Entertainment') %>
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control chosen-value" type="mood" id="mood" name="mood">
                        <option selected="null" value="any">
                            <%= __('dashboard.search.mood.top') %>
                        </option>
                        <option value="Groovy">
                            <%= __('dashboard.search.mood.Groovy') %>
                        </option>
                        <option value="Funky">
                            <%= __('dashboard.search.mood.Funky') %>
                        </option>
                        <option value="Chill">
                            <%= __('dashboard.search.mood.Chill') %>
                        </option>
                        <option value="Romantic">
                            <%= __('dashboard.search.mood.Romantic') %>
                        </option>
                        <option value="Sexy">
                            <%= __('dashboard.search.mood.Sexy') %>
                        </option>
                        <option value="Calm">
                            <%= __('dashboard.search.mood.Calm') %>
                        </option>
                        <option value="Angry">
                            <%= __('dashboard.search.mood.Angry') %>
                        </option>
                        <option value="Peaceful">
                            <%= __('dashboard.search.mood.Peaceful') %>
                        </option>
                        <option value="Sad">
                            <%= __('dashboard.search.mood.Sad') %>
                        </option>
                        <option value="Fearful">
                            <%= __('dashboard.search.mood.Fearful') %>
                        </option>
                        <option value="Happy">
                            <%= __('dashboard.search.mood.Happy') %>
                        </option>
                        <option value="Tense">
                            <%= __('dashboard.search.mood.Tense') %>
                        </option>
                        <option value="Sassy">
                            <%= __('dashboard.search.mood.Sassy') %>
                        </option>
                        <option value="Savage">
                            <%= __('dashboard.search.mood.Savage') %>
                        </option>
                    </select>
                </div>
                <input type="search" id="search" name="search" class="chosen-value" placeholder="<%= __('dashboard.search.search') %>" value="<%= typeof search != 'undefined' ? search : '' %>" />
                <input class="chosen-value" type="submit" style="background-color: #ff7583;">
            </form>
        </div>
    </section>

    <% if (lesson.docs.length) { %>
        <section id="results" class="results">
            <div class="container">
                <%- include ('partials/messages') %>
                    <h3><%= __('dashboard.Future vibes') %>&#10024;</h3>
                    <div class="row">
                        <% for(let i=0; i < lesson.docs.length; i++) { %>
                            <% if(moment(lesson.docs[i].time).isAfter(moment())) { %>
                                <div class="col-lg-4 col-xs-6">
                                    <div class="box">
                                        <a href="/reservation/<%= lesson.docs[i].id %>">
                                        <img src="data:image/<%=lesson.docs[i].thumbnail.contentType%>;base64, <%=lesson.docs[i].thumbnail.data.toString('base64')%>" alt="thumbnail">
                                    </a>
                                        <h4 id="title<%= i %>">
                                            <%= lesson.docs[i].title %>
                                        </h4>
                                        <a class="special" href="/choreographer/<%= choreographer[i]._id %>">
                                            <%= choreographer[i].username %>
                                        </a>
                                        <p>
                                            <%= lesson.docs[i].price %>
                                                <%= __('dashboard.Yen') %> |
                                                    <%= time[i] %>
                                        </p>
                                        <p class="mb-0">
                                            <%= __(`dashboard.search.level.${lesson.docs[i].level[0]}`) %> |
                                                <%= __(`dashboard.search.genre.${lesson.docs[i].genre[0]}`) %> |
                                                    <%= __(`dashboard.search.purpose.${lesson.docs[i].purpose[0]}`) %> |
                                                        <%= __(`dashboard.search.mood.${lesson.docs[i].mood[0]}`) %>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>
                    </div>
            </div>
        </section>
        <% } %>

            <% if (lesson.docs.length) { %>
                <section id="results" class="results">
                    <div class="container">
                        <h3><%= __('dashboard.Past vibes') %>&#10024;</h3>
                        <div class="row">
                            <% for(let i=0; i < lesson.docs.length; i++) { %>
                                <% if(moment(lesson.docs[i].time).isBefore(moment())) { %>
                                    <div class="col-lg-4 col-xs-6">
                                        <div class="box">
                                            <a href="/reservation/<%= lesson.docs[i].id %>">
                                        <img src="data:image/<%=lesson.docs[i].thumbnail.contentType%>;base64, <%=lesson.docs[i].thumbnail.data.toString('base64')%>" alt="thumbnail">
                                    </a>
                                            <h4 id="title<%= i %>">
                                                <%= lesson.docs[i].title %>
                                            </h4>
                                            <a class="special" href="/choreographer/<%= choreographer[i]._id %>">
                                                <%= choreographer[i].username %>
                                            </a>
                                            <p>
                                                <%= lesson.docs[i].price %>
                                                    <%= __('dashboard.Yen') %> |
                                                        <%= time[i] %>
                                            </p>
                                            <p class="mb-0">
                                                <%= __(`dashboard.search.level.${lesson.docs[i].level[0]}`) %> |
                                                    <%= __(`dashboard.search.genre.${lesson.docs[i].genre[0]}`) %> |
                                                        <%= __(`dashboard.search.purpose.${lesson.docs[i].purpose[0]}`) %> |
                                                            <%= __(`dashboard.search.mood.${lesson.docs[i].mood[0]}`) %>
                                            </p>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </section>
                <% } %>

                    <div class="dashboard-pagination">
                        <div class="pagination">
                            <% if (currentPage==1 && pageCount> 1) { %>
                                <p>
                                    <%= __('dashboard.Page') %>
                                        <%= currentPage %>
                                </p>
                                <a href="/dashboard/<%= currentSort %>?page=<%= parseInt(currentPage) + 1 %>&limit=15">
                                    <%= __('dashboard.Page') %>
                                        <%= parseInt(currentPage) + 1 %>
                                            <span class="iconify" data-icon="ion-ios-arrow-forward" data-inline="false"></span>
                                </a>
                                <% } else if (currentPage < pageCount) { %>
                                    <a href="/dashboard/<%= currentSort %>?page=<%= parseInt(currentPage) - 1 %>&limit=15">
                                        <span class="iconify" data-icon="ion-ios-arrow-back" data-inline="false"></span>
                                        <%= __('dashboard.Page') %>
                                            <%= parseInt(currentPage) - 1 %>
                                    </a>
                                    <p>
                                        <%= __('dashboard.Page') %>
                                            <%= currentPage %>
                                    </p>
                                    <a href="/dashboard/<%= currentSort %>?page=<%= parseInt(currentPage) + 1 %>&limit=15">
                                        <%= __('dashboard.Page') %>
                                            <%= parseInt(currentPage) + 1 %>
                                                <span class="iconify" data-icon="ion-ios-arrow-forward" data-inline="false"></span>
                                    </a>
                                    <% } else if (currentPage==pageCount && pageCount> 1) { %>
                                        <a href="/dashboard/<%= currentSort %>?page=<%= parseInt(currentPage) - 1 %>&limit=15">
                                            <span class="iconify" data-icon="ion-ios-arrow-back" data-inline="false"></span>
                                            <%= __('dashboard.Page') %>
                                                <%=parseInt(currentPage) - 1 %>
                                        </a>
                                        <p>
                                            <%= __('dashboard.Page') %>
                                                <%= currentPage %>
                                        </p>
                                        <% } %>
                        </div>
                    </div>
                    </div>
                    </section>
</body>
<script>
    function charCut() {
        for (let i = 0; i < 15; i++) {
            let title = document.getElementById("title" + i).innerHTML;
            if (title[70]) {
                document.getElementById("title" + i).innerHTML = title.substring(0, 70) + "...";
            }
        }
    }

    var quotes = [
        "<%= __('dashboard.Quote.1') %>",
        "<%= __('dashboard.Quote.2') %>",
        "<%= __('dashboard.Quote.3') %>",
        "<%= __('dashboard.Quote.4') %>"
    ];
    let index = Math.floor(Math.random() * (quotes.length));

    document.getElementById("random").innerHTML = quotes[index];
</script>