<head>
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
</head>
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="/">Vibin'</a></h1>
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/"><%= __('header.Home') %></a></li>
        <li><a href="#about"><%= __('header.About') %></a></li>
        <li><a href="#footer"><%= __('header.Contact') %></a></li>
      </ul>
    </nav>
    <div>
      <a href="/users/register" class="get-started-btn scrollto"><%= __('header.Register') %></a>
      <a href="/users/login" class="get-started-btn scrollto"><%= __('header.Login') %></a>
    </div>
  </div>
</header>

<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <%- include ('partials/messages') %>
    <div class="row">
      <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1><strong><%= __('landing.hero.top') %></strong></h1>
        <ul>
          <li><i class="ri-check-line"></i> <%= __('landing.hero.reason1') %></li>
          <li><i class="ri-check-line"></i> <%= __('landing.hero.reason2') %></li>
          <li><i class="ri-check-line"></i> <%= __('landing.hero.reason3') %></li>
        </ul>
        <div class="mt-3">
          <a href="/auth/google" class="btn-get-started scrollto"><%= __('landing.hero.Get started') %></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/image_2.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Make everything easier</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      <div class="content col-xl-5 d-flex flex-column justify-content-center">
        <img src="assets/img/feature.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-xl-7">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <svg width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z" />
                    <path fill-rule="evenodd"
                      d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
                  </svg>
                  <i class="bx bxl-dribbble"></i>
                </div>
                <h4><a href="">Speed</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange ">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426">
                    </path>
                  </svg>
                  <i class="bx bx-file"></i>
                </div>
                <h4><a href="">Mirror</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781">
                    </path>
                  </svg>
                  <i class="bx bx-tachometer"></i>
                </div>
                <h4><a href="">Schedule</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-teal">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5"
                      d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813">
                    </path>
                  </svg>
                  <i class="bx bx-layer"></i>
                </div>
                <h4><a href="">Connect with peers</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <h1><strong><%= __('landing.about.top') %></strong></h1>
        <p class="lead"><%= __('landing.about.sub') %><br><br></p>
        <p><%= __('landing.about.desc') %></p>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>
          <%= __('landing.about.prob') %>
        </h3>
        <ul>
          <li><i class="ri-check-double-line"></i> <%= __('landing.about.prob1') %></li>
          <li><i class="ri-check-double-line"></i> <%= __('landing.about.prob2') %></li>
          <li><i class="ri-check-double-line"></i> <%= __('landing.about.prob3') %></li>
          <li><i class="ri-check-double-line"></i> <%= __('landing.about.prob4') %></li>
        </ul>
        <p><%= __('landing.about.concl') %></p>
      </div>
    </div>
  </div>
</section>

<section id="why-us" class="why-us">
  <div class="container">
    <div class="section-title">
      <h2><%= __('landing.whyus.top') %></h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="box">
          <span>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-display" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.75 13.5c.167-.333.25-.833.25-1.5h4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75z" />
              <path fill-rule="evenodd"
                d="M13.991 3H2c-.325 0-.502.078-.602.145a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z" />
            </svg>
          </span>
          <h4><%= __('landing.whyus.why1') %></h4>
          <p><%= __('landing.whyus.desc1') %></p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z" />
              <path fill-rule="evenodd"
                d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z" />
              <path
                d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
            </svg>
          </span>
          <h4><%= __('landing.whyus.why2') %></h4>
          <p><%= __('landing.whyus.desc2') %>
          </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box">
          <span>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z" />
              <path fill-rule="evenodd"
                d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
            </svg>
          </span>
          <h4><%= __('landing.whyus.why3') %></h4>
          <p><%= __('landing.whyus.desc3') %></p>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="features" class="features">
  <div class="container">
    <div class="section-title">
      <h2><%= __('landing.features.top') %></h2>
      <p><%= __('landing.features.sub') %></p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="icon-box">
          <h3><a>3 <%= __('landing.features.level') %></a></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <h3><a>8 <%= __('landing.features.genre') %></a></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <h3><a>3 <%= __('landing.features.purpose') %></a></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-4">
        <div class="icon-box">
          <h3><a>14 <%= __('landing.features.mood') %></a></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-4">
        <div class="icon-box">
          <h3><a>3 <%= __('landing.features.length') %></a></h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-4">
        <div class="icon-box">
          <h3><a>4 <%= __('landing.features.language') %></a></h3>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Vibin'</h3>
          <p>
            <strong><%= __('footer.Phone') %>:</strong> +81 080 4339 9251<br>
            <strong><%= __('footer.E-Mail') %>:</strong> info@vibin.tokyo<br>
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4><%= __('footer.Sitemap') %></h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#about"><%= __('footer.Aboutus') %></a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/dashboard/-1?page=1&limit=15"><%= __('footer.Home') %></a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="/calendar"><%= __('footer.Calendar') %></a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/upload"><%= __('footer.Upload') %></a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service"><%= __('footer.TOS') %></a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy"><%= __('footer.PP') %></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4><%= __('footer.News1') %></h4>
          <p><%= __('footer.News2') %></p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="<%= __('footer.Subscribe') %>">
          </form>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook" target="_blank"><i
              class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/vibin_dance/" class="instagram" target="_blank"><i
              class="bx bxl-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="copyright">
        &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
</body>