<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Vibin ベータ版</title>
    <meta name="keywords" content="Dance">
    <meta name="description"
        content="Vibin is an online dancing platform providing efficient searching system for Youtube videos with simple user interface.">
    <meta name="author" content="Vibin'">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Amazon IVS Player -->
    <!-- <script src="https://player.live-video.net/1.2.0/amazon-ivs-player.min.js"></script> -->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://apis.google.com/js/api.js" async defer></script>

    <!-- Video.js base CSS -->
    <!-- <link href="https://unpkg.com/video.js@7/dist/video-js.min.css" rel="stylesheet"> -->
    <!-- City -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
    <!-- Fantasy -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
    <!-- Forest -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
    <!-- Sea -->
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171652786-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-171652786-1');
    </script>
</head>

<body>
    <div>
        <%- body %>
    </div>

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style_live.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

    <% if (typeof userPhoto != "undefined" ) { %>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="/dashboard/-1?page=1&limit=15">Vibin'</a></h1>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a href="/dashboard/-1?page=1&limit=15">
                            <%= __('header.Home') %>
                        </a></li>
                    <li><a href="/calendar">
                            <%= __('header.Calendar') %>
                        </a></li>
                    <li><a href="/create">
                            <%= __('header.Create') %>
                        </a></li>
                </ul>
            </nav>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="drop-down">
                        <% if (typeof userPhotoDef != "undefined" ) { %>
                            <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                                height="40" width="40" style="border-radius: 50%;" alt="user photo">
                            <% } else if (typeof userPhoto !="undefined" ) { %>
                                <img src="<%= userPhoto %>" height="40" width="40" style="border-radius: 50%;"
                                    alt="user photo">
                                <% } %>
                                    <ul>
                                        <li><a href="/users/profile">
                                                <%= __('header.Profile') %>
                                            </a></li>
                                        <li><a href="/logout">
                                                <%= __('header.Logout') %>
                                            </a></li>
                                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <% } %>

    <% if (typeof userPhoto !="undefined" ) { %>
    <div class="container">
        <nav class="navbar fixed-bottom navbar-dark bg-light justify-content-center">
            <ul>
                <li>
                    <a href="/dashboard/-1?page=1&limit=15">
                        <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-calendar-plus"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                            <path fill-rule="evenodd"
                                d="M7.5 9.5A.5.5 0 0 1 8 9h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                            <path fill-rule="evenodd"
                                d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/create">
                        <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8zM5 4.854a.5.5 0 0 0 .707 0L8 2.56l2.293 2.293A.5.5 0 1 0 11 4.146L8.354 1.5a.5.5 0 0 0-.708 0L5 4.146a.5.5 0 0 0 0 .708z" />
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 2z" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/users/profile">
                        <% if (typeof userPhotoDef !="undefined" ) { %>
                            <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                                height="27" width="27" style="border-radius: 50%;" alt="user photo">
                            <% } else if (typeof userPhoto !="undefined" ) { %>
                                <img src="<%= userPhoto %>" height="27" width="27" style="border-radius: 50%;"
                                    alt="user photo">
                                <% } %>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <% } %>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Vibin'</h3>
                        <p>
                            <strong>
                                <%= __('footer.Phone') %>:
                            </strong> +81 080 4339 9251<br>
                            <strong>
                                <%= __('footer.E-Mail') %>:
                            </strong> info@vibin.tokyo<br>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>
                            <%= __('footer.Sitemap') %>
                        </h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/#about">
                                    <%= __('footer.Aboutus') %>
                                </a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/dashboard/-1?page=1&limit=15">
                                    <%= __('footer.Home') %>
                                </a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/calendar">
                                    <%= __('footer.Calendar') %>
                                </a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/create">
                                    <%= __('footer.Upload') %>
                                </a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/terms-of-service">
                                    <%= __('footer.TOS') %>
                                </a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i>
                                <a href="/privacy-policy">
                                    <%= __('footer.PP') %>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="social-links text-center text-md-right pt-3 pt-md-0">
                        <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook" target="_blank"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="https://www.instagram.com/vibin_dance/" class="instagram" target="_blank"><i
                                class="bx bxl-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
</body>

</html>