<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta content="width=device-width, initial-scale=1.0 maximum-scale=1" name="viewport">

    <title>Vibin'</title>
    <meta name="keywords" content="オンラインダンス　ダンス">
    <meta name="description" content="Vibin'は誰でも簡単に使えるオンラインダンスプラットフォームです">
    <meta name="author" content="Vibin'">
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- animate -->
    <!-- <link rel="stylesheet" href="../../lp/assets/css/animate.css" type="text/css" /> -->
    <!-- Swiper -->
    <!-- <link rel="stylesheet" href="../../lp/assets/css/swiper.min.css" /> -->
    <!-- icons -->
    <link rel="stylesheet" href="../../lp/assets/css/icons.css" type="text/css" />
    <!-- aos -->
    <link rel="stylesheet" href="../../lp/assets/css/aos.css" type="text/css" />
    <!-- normalize -->
    <link rel="stylesheet" href="../../lp/assets/css/normalize.css" type="text/css" />
    <!-- Bootstrap 4.5 -->
    <link rel="stylesheet" rel="preload" href="../../lp/assets/css/bootstrap.min.css" type="text/css" />
    <!-- main css -->
    <link rel="stylesheet" rel="preload" href="../../lp/assets/css/main.css" type="text/css" />
    <link rel="stylesheet" rel="preload" href="/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" rel="preload" href="/assets/css/style_live.css" type="text/css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171652786-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-171652786-1');
    </script>
</head>

<body>
    <% if (typeof user.userPhoto=="undefined" ) { %>
        <header class="header-nav-center active-pink" id="header">
            <div class="container d-flex align-items-center justify-content-between">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <img class="logo" src="../../assets/img/Vibin logo.webp" alt="logo" width="" />
                    </a>
                </nav>
                <nav class="nav-menu d-none d-lg-block">
                    <a href="/users/login"
                        class="btn btn_sm_primary scale border-0 sweep_letter sweep_top bg-pink c-white rounded-pill m-3">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                            <%= __('header.Login') %>
                        </span>
                    </a>
                </nav>
            </div>
        </header>
        <% } %>

            <% if (typeof user.userPhoto !="undefined" ) { %>
                <header class="header-nav-center active-pink" id="header">
                    <div class="container d-flex align-items-center justify-content-between">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/">
                                <img class="logo" src="../../assets/img/Vibin logo.webp" alt="logo" width="" />
                            </a>
                        </nav>
                        <nav class="nav-menu d-none d-lg-block">
                            <ul>
                                <li>
                                    <a href="/">
                                        <%= __('header.Home') %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/calendar">
                                        <%= __('header.Calendar') %>
                                    </a>
                                </li>
                                <li>
                                    <a href="/create">
                                        <%= __('header.Create') %>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="nav-menu d-none d-lg-block">
                            <ul>
                                <li class="drop-down">
                                    <img src="<%= user.userPhoto %>" height="40" width="40" style="border-radius: 50%;"
                                        alt="user photo">
                                    <ul>
                                        <li>
                                            <a href="/users/profile">
                                                <%= __('header.Profile') %>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/users/settings">
                                                設定
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/logout">
                                                <%= __('header.Logout') %>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <% } %>

                    <div>
                        <%- body %>
                    </div>

                    <% if (typeof user.userPhoto !="undefined" ) { %>
                        <div class="container">
                            <nav class="navbarBottom fixed-bottom bg-snow">
                                <ul>
                                    <li>
                                        <a href="/">
                                            <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-house"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                                <path fill-rule="evenodd"
                                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                            </svg><br>
                                            ホーム
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/calendar">
                                            <svg width="2.0em" height="2.0em" viewBox="0 0 16 16"
                                                class="bi bi-calendar-plus" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                                                <path fill-rule="evenodd"
                                                    d="M7.5 9.5A.5.5 0 0 1 8 9h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                                                <path fill-rule="evenodd"
                                                    d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                                            </svg><br>
                                            カレンダー
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/create">
                                            <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-upload"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8zM5 4.854a.5.5 0 0 0 .707 0L8 2.56l2.293 2.293A.5.5 0 1 0 11 4.146L8.354 1.5a.5.5 0 0 0-.708 0L5 4.146a.5.5 0 0 0 0 .708z" />
                                                <path fill-rule="evenodd"
                                                    d="M8 2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 2z" />
                                            </svg><br>
                                            作成
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users/profile">
                                            <img src="<%= user.userPhoto %>" height="30" width="30"
                                                style="border-radius: 50%;" alt="user photo">
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <% } %>

                            <% if (typeof user.userPhoto=="undefined" ) { %>
                                <div class="container">
                                    <nav class="navbarBottom fixed-bottom bg-snow justify-content-center">
                                        <ul>
                                            <li>
                                                <a href="/">
                                                    <svg width="2.0em" height="2.0em" viewBox="0 0 16 16"
                                                        class="bi bi-house" fill="currentColor"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                                        <path fill-rule="evenodd"
                                                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                                                    </svg><br>
                                                    <%= __('footer.Home') %>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/users/login">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.0em" height="2.0em"
                                                        fill="currentColor" class="bi bi-person-circle"
                                                        viewBox="0 0 16 16">
                                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                                        <path fill-rule="evenodd"
                                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                                    </svg><br>
                                                    <%= __('header.Login') %>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <% } %>

                                    <footer id="footer">
                                        <div class="footer-top">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-6 footer-contact">
                                                        <a class="navbar-brand mb-3" href="/">
                                                            <img class="logo" src="../../assets/img/Vibin logo.webp"
                                                                alt="logo" />
                                                        </a>
                                                        <p>
                                                            <strong>
                                                                <%= __('footer.Phone') %>:
                                                            </strong> +81 080 4339 9251<br>
                                                            <strong>
                                                                <%= __('footer.E-Mail') %>:
                                                            </strong> info@vibin.tokyo<br>
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 footer-links">
                                                        <h4>
                                                            <%= __('footer.Sitemap') %>
                                                        </h4>
                                                        <ul>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/about">
                                                                    <%= __('footer.Aboutus') %>
                                                                </a>
                                                            </li>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/">
                                                                    <%= __('footer.Home') %>
                                                                </a>
                                                            </li>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/calendar">
                                                                    <%= __('footer.Calendar') %>
                                                                </a>
                                                            </li>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/create">
                                                                    <%= __('footer.Upload') %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3 col-md-6 footer-links">
                                                        <h4>
                                                            会社情報
                                                        </h4>
                                                        <ul>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/company/about">
                                                                    <%= __('footer.company') %>
                                                                </a>
                                                            </li>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/company/terms-of-service">
                                                                    <%= __('footer.TOS') %>
                                                                </a>
                                                            </li>
                                                            <li><i class="bx bx-chevron-right"></i>
                                                                <a href="/company/privacy-policy">
                                                                    <%= __('footer.PP') %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3 col-md-6 footer-links">
                                                        <h4>
                                                            ソーシャル
                                                        </h4>

                                                        <!-- <div class="col-lg-3 my-auto ml-auto text-lg-right"> -->
                                                        <a href="https://www.instagram.com/vibin_dance/" target="_blank"
                                                            class="btn-social color-instagram border-0  mr-2">
                                                            <i class="tio instagram"></i>
                                                        </a>
                                                        <a href="https://twitter.com/vibin_dance" target="_blank"
                                                            class="btn-social color-twitter border-0  mr-2">
                                                            <i class="tio twitter"></i>
                                                        </a>
                                                        <a href="https://www.facebook.com/Vibin-107436974343750"
                                                            target="_blank"
                                                            class="btn-social color-facebook border-0  mr-2">
                                                            <i class="tio facebook"></i>
                                                        </a>
                                                    </div>
                                                    <!-- </div> -->
                                                    <!-- 
                                                    <div class="social-links text-center text-md-right pt-3 pt-md-0">
                                                        <a href="https://www.facebook.com/Vibin-107436974343750"
                                                            class="facebook" target="_blank"><i
                                                                class="bx bxl-facebook"></i></a>
                                                        <a href="https://www.instagram.com/vibin_dance/"
                                                            class="instagram" target="_blank"><i
                                                                class="bx bxl-instagram"></i></a>
                                                    </div> -->

                                                </div>
                                            </div>
                                        </div>
                                        <div class="container d-md-flex py-4">
                                            <div class="mr-md-auto text-center text-md-left">
                                                <div class="copyright">
                                                    &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights
                                                    Reserved
                                                </div>
                                            </div>
                                        </div>
                                    </footer>

                                    <!-- jquery -->
                                    <script src="../../lp/assets/js/jquery-3.5.0.js" type="text/javascript"></script>
                                    <!-- jquery-migrate -->
                                    <script src="../../lp/assets/js/jquery-migrate.min.js"
                                        type="text/javascript"></script>
                                    <!-- popper -->
                                    <!-- <script src="../../lp/assets/js/popper.min.js" type="text/javascript"></script> -->
                                    <!-- bootstrap -->
                                    <script src="../../lp/assets/js/bootstrap.min.js" type="text/javascript"></script>
                                    <!-- particles -->
                                    <!-- <script src="../../lp/assets/js/vendor/particles.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- TweenMax -->
                                    <!-- <script src="../../lp/assets/js/vendor/TweenMax.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- ScrollMagic -->
                                    <!-- <script src="../../lp/assets/js/vendor/ScrollMagic.js"
                                        type="text/javascript"></script> -->
                                    <!-- animation.gsap -->
                                    <!-- <script src="../../lp/assets/js/vendor/animation.gsap.js"
                                        type="text/javascript"></script> -->
                                    <!-- addIndicators -->
                                    <!-- <script src="../../lp/assets/js/vendor/debug.addIndicators.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- Swiper js -->
                                    <!-- <script src="../../lp/assets/js/vendor/swiper.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- countdown -->
                                    <!-- <script src="../../lp/assets/js/vendor/countdown.js"
                                        type="text/javascript"></script> -->
                                    <!-- simpleParallax -->
                                    <!-- <script src="../../lp/assets/js/vendor/simpleParallax.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- waypoints -->
                                    <!-- <script src="../../lp/assets/js/vendor/waypoints.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- counterup -->
                                    <!-- <script src="../../lp/assets/js/vendor/jquery.counterup.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- charming -->
                                    <!-- <script src="../../lp/assets/js/vendor/charming.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- imagesloaded -->
                                    <!-- <script src="../../lp/assets/js/vendor/imagesloaded.pkgd.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- BX-Slider -->
                                    <!-- <script src="../../lp/assets/js/vendor/jquery.bxslider.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- Sharer -->
                                    <script src="../../lp/assets/js/vendor/sharer.js" type="text/javascript"></script>
                                    <!-- sticky -->
                                    <!-- <script src="../../lp/assets/js/vendor/sticky.min.js"
                                        type="text/javascript"></script> -->
                                    <!-- Aos -->
                                    <!-- <script src="../../lp/assets/js/vendor/aos.js" type="text/javascript"></script> -->
                                    <!-- main file -->
                                    <script src="../../lp/assets/js/main.js" type="text/javascript"></script>
                                    <!-- sass -->
                                    <!-- <script src="../../lp/assets/js/pages/sass.js" type="text/javascript"></script> -->

</body>

</html>