<main role="main" class="container col-md-10 col-sm-10" style="margin-top:10%; margin-bottom: 5%;">
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <h1 class="text-center">レッスン詳細</h1>
    <div class="row">
        <div class="col-md-7 blog-main">
            <div class="blog-post">
                <div class="p-3">
                    <div class="card-deck">
                        <div class="card mb-3" style="min-width: 47vh; max-width: 80vh; margin-top: 30px;">
                            <a href="#">
                                <img style="height: 100%; width: 100%; display: block;" src="<%=lesson.thumbnail%>"
                                    alt="thumbnail of the lesson">
                            </a>
                        </div>
                    </div>
                    <h3>
                        <%= lesson.title %> by
                            <a href="/choreographer/<%= user._id %>">
                                <%= user.username %>
                            </a>
                    </h3>
                    <ol class="list-unstyled">
                        <li>
                            <%= __(`dashboard.search.level.${lesson.level[0]}`) %> |
                                <%= __(`dashboard.search.genre.${lesson.genre[0]}`) %> |
                                    <%= __(`dashboard.search.mood.${lesson.mood[0]}`) %>
                        </li>
                    </ol>
                    <h4>
                        <%= lesson.price %>
                            <%= __('dashboard.Yen') %>
                    </h4>
                    <hr>
                    <div class="text-center">
                        <!-- <% if (id != undefined) { %>
                            <button class="btn btn-danger btn-lg btn-block" id="checkout-button"><%= __('reservation.purchase') %></button>
                        <% } else { %>
                            <a href="/success/<%= params %>" class="btn btn-danger btn-lg btn-block"><%= __('reservation.purchase') %></a>
                        <% } %> -->
                    </div>
                </div>

                <div class="p-3 mb-3 bg-light rounded">
                    <div class="text-center">
                        <h4>
                            <%= __('reservation.choreo') %>
                        </h4>
                        <img src="<%= user.userPhoto %>" height="100" width="100" style="border-radius: 50%;" alt="user photo">
                    </div>
                    <div class="text-center">
                        <a href="/choreographer/<%= user._id %>" style="font-size: 22px;">
                            <%= user.username %>
                        </a>
                        <br>
                        <h5 style="white-space:pre-wrap;">
                            <%= user.bio %>
                        </h5>
                        <p class="mb-0">
                            <%= __('reservation.contact') %>:
                                <a href="mailto:<%= user.email %>">
                                    <%= user.email %>
                                </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <aside class="col-md-5 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <div class="text-center">
                    <h4>参加者</h4>
                </div>
                <ol>
                    <% for(let i=0; i < attendee.length; i++) { %>
                        <li>
                            <%= attendee[i].username %>
                        </li>
                        <% } %>
                </ol>
                <% const rev = attendee.length * lesson.price * 0.8 %>
                    <div class="text-center">
                        <h5>予想収益：
                            <%= rev %>円</h5>
                        <!-- <a class="btn btn-light" href="/lesson/contact/<%= id %>">生徒に一斉メールする</a> -->
                    </div>

            </div>
            <div class="p-3 mb-3 bg-light rounded">
                <div class="text-center">
                    <h4>OBS使用方法</h4>
                </div>
                <br>
                <ol>
                    <li>OBSをダウンロード</li>
                    <li>ご自身の<a href="/lesson/channel">チャンネル管理ページ</a>にてIngest serverとStream keyを取得</li>
                    <li>OBSの設定画面に上記の2つを入力し、配信を開始</li>
                    <li>自身の教えるレッスン欄からアクセスしレッスンを開始</li>
                </ol>
            </div>
            <div class="p-3 mb-3 bg-light rounded">
                <div class="text-center">
                    <h4>キャンセル事項</h4>
                </div>
                <br>
                <ol>
                    <li>キャンセルはレッスンの2時間前まで可能です</li>
                    <li>キャンセルした場合、レッスン料金は生徒様に全額返金されます、またキャンセルに発生する手数料を支払い必要があります。</li>
                    <li>レッスンに15分以上遅れたり、欠席した場合もレッスン料は生徒様に全額返金されます。</li>
                    <li>無断欠席や遅刻を3回以上繰り返すと、アカウントは凍結されます。</li>
                </ol>
                <form action="/lesson/edit/:id" method="POST" style="margin-top: 3%;">
                    <div class="text-center" style="margin:3%;">
                        <p>上記を踏まえて</p>
                        <input type="id" id="id" name="id" class="form-control" value="<%= typeof id != 'undefined' ? id : '' %>" hidden/>
                        <button class="btn btn-danger btn-lg" type="submit">キャンセルする</button>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</main>