<body onload="setTime()">
  <header id="header" class="fixed-top position-absolute">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">Vibin'</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/dashboard/-1?page=1&limit=15">Home</a></li>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/upload">Upload</a></li>
        </ul>
      </nav>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down">
            <img src="<%= userPhoto %>" height="40" width="40" style="border-radius: 50%;">
            <ul>
              <li><a href="/users/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="videoPlayer">
    <div id="player"></div>
    <div class="container-fluid">
      <%- include ('partials/messages') %>
      <div class="row">
        <div class="text col-lg-6 col-xs-6">
          <h4><%= title %></h4>
          <a href="/choreographer/<%= choreographer %>"><%= choreographer %></a>
          <p><%= level[0] %></p>
        </div>
        <div class="nav-menu space col-lg-3 col-xs-3 d-flex justify-content-center">
          <ul>
            <li><a id="speedup" onclick="speedUp()" type="button">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-chevron-double-up"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
                  <path fill-rule="evenodd"
                    d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
              </a></li>
            <li>
              <a id="speeddown" onclick="speedDown()" type="button">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-chevron-double-down"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  <path fill-rule="evenodd"
                    d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
              </a>
            </li>
            <li>
              <a id="mirror" onclick="mirrorToggle()" type="button">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-aspect-ratio" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                  <path fill-rule="evenodd"
                    d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z" />
                </svg>
              </a>
            </li>
            <li>
              <a id="fullscreenOn" onclick="fullScreenOn()" type="button">
                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-fullscreen" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <form action="/player/:id" method="POST" class="col-lg-3 col-xs-3 d-flex justify-content-center">
          <input type="id" id="id" name="id" class="form-control" placeholder="Enter The ID"
          value="<%= typeof id != 'undefined' ? id : '' %>" hidden />
          <input type="datetime-local" id="date" name="date" class="form-control" />
          <input type="submit" value="Add">
        </form>
      </div>
    </div>

    <div class="container">
      <nav class="navbar fixed-bottom navbar-dark bg-light justify-content-center">
        <ul>
          <li class="active"><a href="/dashboard/-1?page=1&limit=15">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                <path fill-rule="evenodd"
                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
              </svg>
            </a></li>
          <li><a href="/calendar">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-calendar-plus" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path fill-rule="evenodd" d="M7.5 9.5A.5.5 0 0 1 8 9h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z" />
                <path fill-rule="evenodd"
                  d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd"
                  d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
              </svg>
            </a></li>
          <li><a href="/upload">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8zM5 4.854a.5.5 0 0 0 .707 0L8 2.56l2.293 2.293A.5.5 0 1 0 11 4.146L8.354 1.5a.5.5 0 0 0-.708 0L5 4.146a.5.5 0 0 0 0 .708z" />
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 2z" />
              </svg>
            </a></li>
          <li><a href="/users/profile">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
            </a></li>
        </ul>
      </nav>
    </div>
</body>

<script>
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= id %>',
      playerVars: {
        rel: 0,
        playsinline: 1
      }
    });
  }

  function speedUp() {
    let rate = player.getPlaybackRate();
    player.setPlaybackRate(rate + 0.25);
  }

  function speedDown() {
    let rate = player.getPlaybackRate();
    player.setPlaybackRate(rate - 0.25);
  }

  function mirrorToggle() {
    document.getElementById("player").classList.toggle("mirror");
  }

  function fullScreenOn() {
    if (document.getElementById("player").style.height === "100vh") {
      document.getElementById("header").hidden = false;
      document.getElementById('player').style.marginTop = '7vh';
      document.getElementById('player').style.height = '75vh';
    } else {
      document.getElementById("header").hidden = true;
      document.getElementById('player').style.marginTop = '0vh';
      document.getElementById('player').style.height = '100vh';
    }
  }

  function setTime() {
    moment().format('YYYY-MM-DDThh:mm');
    document.getElementById("date").setAttribute("min", moment().format('YYYY-MM-DDThh:mm'))
  }

</script>
<style>
  .mirror {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }

  .fullscreen {
    width: 100%;
    height: 100vh;
  }
</style>