<br>
<section id="results">
    <div class="container">
        <div class="col-lg-8 col-xs-12 m-auto text-center">
            <%- include ('partials/messages') %>

                <% if (typeof userPhotoDef != "undefined") { %>
                    <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>" height="100" width="100" style="border-radius: 50%; margin: 20px;" alt="user photo">
                    <% } else { %>
                        <img src="<%= userPhoto %>" height="100" width="100" style="border-radius: 50%; margin: 20px;" alt="user photo">
                        <% } %>

                            <a class="btn btn-danger" href="/users/profile/edit">
                                <%= __('profile.edit profile') %>
                            </a>
                            <h2 class="mb-3"><i class="fas fa-user-plus"></i>
                                <%= username %>
                            </h2>
                            <!-- <p>
                                <%= followerCount %>
                                    <%= __('profile.follower') %>
                            </p>
                            <p>
                                <%= followingCount %>
                                    <%= __('profile.following') %>
                            </p> -->
                            <p>
                                <%= bio %>
                            </p>
                            <a class="btn btn-dark" href="/logout">
                                <%= __('profile.logout') %>
                            </a>
        </div>
    </div>
</section>

<% if (lesson.length > 0) { %> 
<section id="results" class="results">
    <div class="container">
        <h3>
            Lessons ahead
        </h3>
        <hr>
        <div class="row">
            <% for(let i=0; i < lesson.length; i++) { %>
                <div class="col-lg-4 col-xs-6">
                    <div class="box">
                        <a href="#">
                            <img src="data:image/<%=lesson[i].thumbnail.contentType%>;base64, <%=lesson[i].thumbnail.data.toString('base64')%>" alt="thumbnail">
                        </a>
                        <h4 id="lesson.title<%= i %>">
                            <%= lesson[i].title %>
                        </h4>
                        <a class="special" href="/choreographer/<%= user._id %>">
                            <%= user.username %>
                          </a>
                          <p><%= lesson[i].price %> Yen</p>
                          <p class="mb-0">
                              <%= __(`dashboard.search.level.${lesson[i].level[0]}`) %> | <%= __(`dashboard.search.genre.${lesson[i].genre[0]}`) %> | <%= __(`dashboard.search.purpose.${lesson[i].purpose[0]}`) %> | <%= __(`dashboard.search.mood.${lesson[i].mood[0]}`) %>
                          </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</section>
<% } %>

<!-- 
<section id="results" class="results">
    <div class="container">
        <h3>
            <%= __('profile.liked videos') %>
        </h3>
        <hr>
        <div class="row">
            <% for(let i=0; i < likedVid.length; i++) { %>
                <div class="col-lg-4 col-xs-6">
                    <div class="box">
                        <a href="/player/<%= likedVid[i].id %>">
                        <img src="<%= likedVid[i].thumbnail %>" alt="thumbnail">
                    </a>
                        <h4 id="likedVid.title<%= i %>">
                            <%= likedVid[i].title %>
                        </h4>
                        <a class="special" href="/choreographer/<%= likedVid[i].choreographer %>">
                            <%= likedVid[i].choreographer %>
                        </a>
                        <p>
                            <%= likedVid[i].level[0] %>
                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</section> -->