<div class="top-space">
<section id="results" class="results">
<div class="container">
    <div class="col-lg-8 col-xs-12 m-auto text-center">
        <%- include ('partials/messages') %>
                <% if (typeof userPhotoDef !="undefined" ) { %>
                    <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                        height="100" width="100" style="border-radius: 50%; margin: 20px;" alt="user photo">
                    <% } else { %>
                        <img src="<%= userPhoto %>" height="100" width="100" style="border-radius: 50%; margin: 20px;"
                            alt="user photo">
                        <% } %>

                            <a class="btn btn-danger" href="/users/profile/edit">
                                <%= __('profile.edit profile') %>
                            </a>
                            <h2 class="mb-3"><i class="fas fa-user-plus"></i>
                                <%= username %>
                            </h2>
                            <p style="white-space:pre-wrap;"><%= bio %></p>
                            <a class="btn btn-dark" href="/logout">
                                <%= __('profile.logout') %>
                            </a>
    </div>
</div>

<% if (lesson.length> 0) { %>
        <div class="container">
            <h3>教えるレッスン</h3>
            <hr>
            <div class="row">
                <% for(let i=0; i < lesson.length; i++) { %>
                    <div class="col-lg-4 col-xs-6">
                        <div class="box">
                            <a href="/lesson/techer">
                                <img src="data:image/<%=lesson[i].thumbnail.contentType%>;base64, <%=lesson[i].thumbnail.data.toString('base64')%>"
                                    alt="thumbnail">
                            </a>
                            <h4 id="lesson.title<%= i %>">
                                <%= lesson[i].title %>
                                    <a class="btn btn-sm btn-dark float-right"
                                        href="/lessons/edit/<%= lesson[i]._id %>">Edit</a>
                            </h4>
                            <a class="special" href="/choreographer/<%= user._id %>">
                                <%= user.username %>
                            </a>
                            <p>
                                <%= lesson[i].price %> Yen | <%= time[i] %>
                            </p>
                            <p class="mb-0">
                                <%= __(`dashboard.search.level.${lesson[i].level[0]}`) %> | <%=
                                __(`dashboard.search.genre.${lesson[i].genre[0]}`) %> | <%=
                                __(`dashboard.search.purpose.${lesson[i].purpose[0]}`) %> | <%=
                                __(`dashboard.search.mood.${lesson[i].mood[0]}`) %>
                            </p>
                        </div>
                    </div>
                    <% } %>
                </div>
        </div>
<% } %>
<% if (tickets.length> 0) { %>
        <div class="container">
            <h3>購入したレッスン一覧</h3>
            <hr>
            <div class="row">
                <% for(let i=0; i < tickets.length; i++) { %>
                    <div class="col-lg-4 col-xs-6">
                        <div class="box">
                            <a href="/lesson/student/<%= tickets[i][0].choreographerID %>">
                                <img src="data:image/<%=tickets[i][0].thumbnail.contentType%>;base64, <%=tickets[i][0].thumbnail.data.toString('base64')%>"
                                    alt="thumbnail">
                            </a>
                            <h4 id="tickets.title<%= i %>">
                                <%= tickets[i][0].title %>
                            </h4>
                            <a class="special" href="/choreographer/<%= user._id %>">
                                <%= user.username %>
                            </a>
                            <p>
                                <%= tickets[i].price %> Yen | <%= time[i] %>
                            </p>
                            <p class="mb-0">
                                <%= __(`dashboard.search.level.${tickets[i][0].level[0]}`) %> | 
                                <%= __(`dashboard.search.genre.${tickets[i][0].genre[0]}`) %> | 
                                <%= __(`dashboard.search.purpose.${tickets[i][0].purpose[0]}`) %> | 
                                <%= __(`dashboard.search.mood.${tickets[i][0].mood[0]}`) %>
                            </p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
<% } %>
            <!-- <ul class="ticket_block">
                <% for( let ticket of tickets) { %>
                    <li>
                        <a href="/lesson/student/<%= ticket.lesson_id %>" class="lesson_title">
                            <%= ticket %>
                        </a>
                        <div class="desc">
                            <p><span>先生の名前 : </span>
                                <%= ticket.choreographerName %>
                            </p>
                            <p><span>難易度 : </span>
                                <%= ticket.level %>
                            </p>
                            <p><span>ジャンル : </span>
                                <%= ticket.genre %>
                            </p>
                            <p><span>日時 : </span>
                                <%= ticket.date %>
                            </p>
                        </div>
                    </li>
                <% } %>
            </ul> -->
            <h3>マイチャンネル</h3>
            <hr>
            <a class="btn btn-dark" href="/lesson/channel">チャンネル管理</a>
            <a class="btn btn-dark" href="/lesson/techer">レッスンを開始する</a>
            
        </div>
    </section>