<br>
<section id="results">
    <div class="container">
        <div class="col-lg-8 col-xs-12 m-auto">
            <%- include ('partials/messages') %>
            <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i><%= curUsername %></h1>
            <form action="/users/profile/edit" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="Photo"><%= __('profile.photo') %><p><small><%= __('profile.choose photo') %></small>
                        </p></label>
                    <div class="text-center">
                        <% if (typeof userPhotoDef != "undefined") { %>
                        <img id="output"
                            src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                            style="border-radius: 50%;" height="80" width="80" alt="user photo">
                        <% } else { %>
                        <img id="output" src="<%= userPhoto %>" height="80" width="80" style="border-radius: 50%;"
                            alt="user photo">
                        <% } %>
                        <br><br><input type="file" id="userPhotoDef" name="userPhotoDef" accept="image/*" onchange="loadFile(event)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email"><%= __('profile.email') %></label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter The Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>" readonly />
                </div>

                <div class="form-group">
                    <label for="username"><%= __('profile.username') %></label>
                    <input type="username" id="username" name="username" class="form-control"
                        placeholder="Enter The Username"
                        value="<%= typeof username != 'undefined' ? username : '' %>" />
                </div>

                <div class="form-group">
                    <label for="bio"><%= __('profile.bio') %></label>
                    <input type="bio" id="bio" name="bio" class="form-control" placeholder="Enter Your Bio"
                        value="<%= typeof bio != 'undefined' ? bio : '' %>" />
                </div>

                <div class="form-group" id="levelDrop">
                    <label for="level"><%= __('dashboard.search.level.top') %></label>
                    <select class="form-control" type="level" id="level" name="level">
                        <option selected value="<%= user.tags.level %>"><%= __(`dashboard.search.level.${user.tags.level}`) %></option>
                        <option value="Beginner"><%= __('dashboard.search.level.Beginner') %></option>
                        <option value="Intermediate"><%= __('dashboard.search.level.Intermediate') %></option>
                        <option value="Advanced"><%= __('dashboard.search.level.Advanced') %></option>
                    </select>
                </div>

                <div class="form-group" id="purposeDrop">
                    <label for="purpose"><%= __('dashboard.search.purpose.top') %></label>
                    <select class="form-control" type="purpose" id="purpose" name="purpose">
                        <option selected value="<%= user.tags.purpose %>"><%= __(`dashboard.search.purpose.${user.tags.purpose}`) %></option>
                        <option value="Skill Improvements"><%= __('dashboard.search.purpose.Skill Improvements') %>
                        </option>
                        <option value="Health and Exercise"><%= __('dashboard.search.purpose.Health and Exercise') %>
                        </option>
                        <option value="Entertainment"><%= __('dashboard.search.purpose.Entertainment') %></option>
                    </select>
                </div>

                <% if (!user.tags.genre) { %>
                <div class="form-group">
                    <label for="genre"><%= __('dashboard.search.genre.top') %></label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                value="Hip Hop"><%= __('dashboard.search.genre.Hip Hop') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Locking"><%= __('dashboard.search.genre.Locking') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Jazz"><%= __('dashboard.search.genre.Jazz') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Breakin"><%= __('dashboard.search.genre.Breakin') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="House"><%= __('dashboard.search.genre.House') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Popping"><%= __('dashboard.search.genre.Popping') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="K-POP"><%= __('dashboard.search.genre.K-POP') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="TikTok"><%= __('dashboard.search.genre.TikTok') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Bollywood"><%= __('dashboard.search.genre.Bollywood') %></label>
                    </div>
                </div>
                <% } else { %>
                <div class="form-group">
                    <label for="genre"><%= __('dashboard.search.genre.top') %></label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                <%= user.tags.genre.includes("Hip Hop") ? "checked" : "" %>
                                value="Hip Hop"><%= __('dashboard.search.genre.Hip Hop') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Locking") ? "checked" : "" %>
                                value="Locking"><%= __('dashboard.search.genre.Locking') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Jazz") ? "checked" : "" %>
                                value="Jazz"><%= __('dashboard.search.genre.Jazz') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Breakin") ? "checked" : "" %>
                                value="Breakin"><%= __('dashboard.search.genre.Breakin') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("House") ? "checked" : "" %>
                                value="House"><%= __('dashboard.search.genre.House') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Popping") ? "checked" : "" %>
                                value="Popping"><%= __('dashboard.search.genre.Popping') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("K-POP") ? "checked" : "" %>
                                value="K-POP"><%= __('dashboard.search.genre.K-POP') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("TikTok") ? "checked" : "" %>
                                value="TikTok"><%= __('dashboard.search.genre.TikTok') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Bollywood") ? "checked" : "" %>
                                value="Bollywood"><%= __('dashboard.search.genre.Bollywood') %></label>
                    </div>
                </div>
                <% } %>

                <div class="text-center"><input class="chosen-value" type="submit" style="background-color: #ff7583;"
                        value="<%= __('profile.update') %>"></div>


            </form>
        </div>
    </div>
</section>

<script>
    const loadFile = function (event) {
        const image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        console.log("width: " + image.naturalWidth);
        console.log("height: " + image.naturalHeight);
    };
</script>