<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/dashboard/-1?page=1&limit=15">Vibin'</a></h1>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="/dashboard/-1?page=1&limit=15"><%= __('header.Home') %></a></li>
                <li><a href="/follow"><%= __('header.Following') %></a></li>
                <li><a href="/calendar"><%= __('header.Calendar') %></a></li>
                <li><a href="/create"><%= __('header.Create') %></a></li>
            </ul>
        </nav>
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="drop-down">
                    <% if (typeof userPhotoDef.data != "undefined") { %>
                    <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                        height="40" width="40" style="border-radius: 50%;" alt="user photo">
                    <% } else { %>
                    <img src="<%= userPhoto %>" height="40" width="40" style="border-radius: 50%;" alt="user photo">
                    <% } %>
                    <ul>
                        <li><a href="/users/profile"><%= __('header.Profile') %></a></li>
                        <li><a href="/logout"><%= __('header.Logout') %></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

<br>
<section id="results">
    <div class="container">
        <div class="col-lg-8 col-xs-12 m-auto">
            <%- include ('partials/messages') %>
            <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i><%= username %></h1>
            <form action="/users/profile/edit" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="Photo"><%= __('profile.photo') %><p><small><%= __('profile.choose photo') %></small>
                        </p></label>
                    <div class="text-center">
                        <% if (typeof userPhotoDef.data != "undefined") { %>
                        <img id="output"
                            src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                            style="border-radius: 50%;" height="80" width="80" alt="user photo">
                        <% } else { %>
                        <img id="output" src="<%= userPhoto %>" height="80" width="80" style="border-radius: 50%;"
                            alt="user photo">
                        <% } %>
                        <br><br><input type="file" id="userPhotoDef" name="userPhotoDef" accept="image/*" onchange="loadFile(event)" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="email"><%= __('profile.email') %></label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter The Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>" readonly />
                </div>

                <div class="form-group">
                    <label for="username"><%= __('profile.username') %></label>
                    <input type="username" id="username" name="username" class="form-control"
                        placeholder="Enter The Username"
                        value="<%= typeof username != 'undefined' ? username : '' %>" />
                </div>

                <div class="form-group">
                    <label for="bio"><%= __('profile.bio') %></label>
                    <input type="bio" id="bio" name="bio" class="form-control" placeholder="Enter Your Bio"
                        value="<%= typeof bio != 'undefined' ? bio : '' %>" />
                </div>

                <div class="form-group" id="levelDrop">
                    <label for="level"><%= __('dashboard.search.level.top') %></label>
                    <select class="form-control" type="level" id="level" name="level">
                        <option selected value="<%= user.tags.level %>"><%= __(`dashboard.search.level.${user.tags.level}`) %></option>
                        <option value="Beginner"><%= __('dashboard.search.level.Beginner') %></option>
                        <option value="Intermediate"><%= __('dashboard.search.level.Intermediate') %></option>
                        <option value="Advanced"><%= __('dashboard.search.level.Advanced') %></option>
                    </select>
                </div>

                <div class="form-group" id="purposeDrop">
                    <label for="purpose"><%= __('dashboard.search.purpose.top') %></label>
                    <select class="form-control" type="purpose" id="purpose" name="purpose">
                        <option selected value="<%= user.tags.purpose %>"><%= __(`dashboard.search.purpose.${user.tags.purpose}`) %></option>
                        <option value="Skill Improvements"><%= __('dashboard.search.purpose.Skill Improvements') %>
                        </option>
                        <option value="Health and Exercise"><%= __('dashboard.search.purpose.Health and Exercise') %>
                        </option>
                        <option value="Entertainment"><%= __('dashboard.search.purpose.Entertainment') %></option>
                    </select>
                </div>

                <% if (!user.tags.genre) { %>
                <div class="form-group">
                    <label for="genre"><%= __('dashboard.search.genre.top') %></label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                value="Hip Hop"><%= __('dashboard.search.genre.Hip Hop') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Locking"><%= __('dashboard.search.genre.Locking') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Jazz"><%= __('dashboard.search.genre.Jazz') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Breakin"><%= __('dashboard.search.genre.Breakin') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="House"><%= __('dashboard.search.genre.House') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Popping"><%= __('dashboard.search.genre.Popping') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="K-POP"><%= __('dashboard.search.genre.K-POP') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="TikTok"><%= __('dashboard.search.genre.TikTok') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" value="Bollywood"><%= __('dashboard.search.genre.Bollywood') %></label>
                    </div>
                </div>
                <% } else { %>
                <div class="form-group">
                    <label for="genre"><%= __('dashboard.search.genre.top') %></label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" type="checkbox"
                                <%= user.tags.genre.includes("Hip Hop") ? "checked" : "" %>
                                value="Hip Hop"><%= __('dashboard.search.genre.Hip Hop') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Locking") ? "checked" : "" %>
                                value="Locking"><%= __('dashboard.search.genre.Locking') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Jazz") ? "checked" : "" %>
                                value="Jazz"><%= __('dashboard.search.genre.Jazz') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Breakin") ? "checked" : "" %>
                                value="Breakin"><%= __('dashboard.search.genre.Breakin') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("House") ? "checked" : "" %>
                                value="House"><%= __('dashboard.search.genre.House') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Popping") ? "checked" : "" %>
                                value="Popping"><%= __('dashboard.search.genre.Popping') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("K-POP") ? "checked" : "" %>
                                value="K-POP"><%= __('dashboard.search.genre.K-POP') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("TikTok") ? "checked" : "" %>
                                value="TikTok"><%= __('dashboard.search.genre.TikTok') %></label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="genre" name="genre" class="form-check-input" class="form-check-input"
                                type="checkbox" <%= user.tags.genre.includes("Bollywood") ? "checked" : "" %>
                                value="Bollywood"><%= __('dashboard.search.genre.Bollywood') %></label>
                    </div>
                </div>
                <% } %>

                <div class="text-center"><input class="chosen-value" type="submit" style="background-color: #ff7583;"
                        value="<%= __('profile.update') %>"></div>


            </form>
        </div>
    </div>
</section>

<div class="container">
    <nav class="navbar fixed-bottom navbar-dark bg-light justify-content-center">
        <ul>
            <li><a href="/dashboard/-1?page=1&limit=15">
                    <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </a></li>
            <li><a href="/follow">
                    <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z" />
                        <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z" />
                        <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </a></li>
            <li><a href="/create">
                    <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-upload" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8zM5 4.854a.5.5 0 0 0 .707 0L8 2.56l2.293 2.293A.5.5 0 1 0 11 4.146L8.354 1.5a.5.5 0 0 0-.708 0L5 4.146a.5.5 0 0 0 0 .708z" />
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 2z" />
                    </svg>
                </a></li>
            <li><a href="/calendar">
                    <svg width="2.0em" height="2.0em" viewBox="0 0 16 16" class="bi bi-calendar-plus"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                        <path fill-rule="evenodd"
                            d="M7.5 9.5A.5.5 0 0 1 8 9h2a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0v-2z" />
                        <path fill-rule="evenodd"
                            d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z" />
                        <path fill-rule="evenodd"
                            d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </a></li>
            <li class="active"><a href="/users/profile">
                    <% if (typeof userPhotoDef.data != "undefined") { %>
                    <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>"
                        height="27" width="27" style="border-radius: 50%;" alt="user photo">
                    <% } else { %>
                    <img src="<%= userPhoto %>" height="27" width="27" style="border-radius: 50%;" alt="user photo">
                    <% } %>
                </a></li>
        </ul>
    </nav>
</div>

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Vibin'</h3>
                    <p>
                        <strong><%= __('footer.Phone') %>:</strong> +81 080 4339 9251<br>
                        <strong><%= __('footer.E-Mail') %>:</strong> info@vibin.tokyo<br>
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 footer-links">
                    <h4><%= __('footer.Sitemap') %></h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about"><%= __('footer.Aboutus') %></a></li>
                        <li><i class="bx bx-chevron-right"></i> <a
                                href="/dashboard/-1?page=1&limit=15"><%= __('footer.Home') %></a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/calendar"><%= __('footer.Calendar') %></a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/upload"><%= __('footer.Upload') %></a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/terms-of-service"><%= __('footer.TOS') %></a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/privacy-policy"><%= __('footer.PP') %></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4><%= __('footer.News1') %></h4>
                    <p><%= __('footer.News2') %></p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="<%= __('footer.Subscribe') %>">
                    </form>
                </div>
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                    <a href="https://www.facebook.com/Vibin-107436974343750" class="facebook" target="_blank"><i
                            class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/vibin_dance/" class="instagram" target="_blank"><i
                            class="bx bxl-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<script>
    const loadFile = function (event) {
        const image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
        console.log("width: " + image.naturalWidth);
        console.log("height: " + image.naturalHeight);
    };
</script>