<body onload="charCut()">
  <div class="top-space"></div>
  <section id="results" class="results">
    <div class="container">
      <h2 class="user text-center"><span id="random"></span></h2><br>
      <h4>Search result</h4>
      <p>There are <%= count %> videos</p>
      <%- include ('partials/messages') %>
      <div class="row">
        <% for(var i=0; i < videos.length; i++) { %>
        <div class="col-lg-4">
          <div class="box">
            <a href="/player/<%= id[i] %>">
              <img src="<%= thumbnail[i] %>" alt="thumbnail">
            </a>
            <h4 id="title<%= i %>"><%= title[i] %></h4>
            <a class="special" href="/choreographer/<%= choreographer[i] %>"><%= choreographer[i] %></a>
            <p><%= level[i] %></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>
</body>
<script>

  function charCut() {
    for (let i = 0; i < 15; i++) {
      let title = document.getElementById("title" + i).innerHTML;
      if (title[70]) {
        document.getElementById("title" + i).innerHTML = title.substring(0, 70) + "...";
      }
    }
  }
  var quotes = [
    "How's your dance looking?",
    "You've got a nice taste!",
    "Great choreos!",
    "That one vibes!"
  ];
  let index = Math.floor(Math.random() * (quotes.length));

  document.getElementById("random").innerHTML = quotes[index];
</script>