<body onload="charCut()">
  <div class="top-space"></div>
  <section id="results" class="results">
    <div class="container">
      <%- include ('partials/messages') %>
        <h2 class="user text-center"><span id="random"></span></h2><br>
        <h3><%= __('result') %> &#128373;</h3>
        <div class="row">
          <% for(let i=0; i < lesson.docs.length; i++) { %>
            <div class="col-lg-4 col-xs-6">
              <div class="box">
                <a href="/reservation/<%= lesson.docs[i].id %>">
                  <img src="data:image/<%=lesson.docs[i].thumbnail.contentType%>;base64, <%=lesson.docs[i].thumbnail.data.toString('base64')%>" alt="thumbnail">
                </a>
                <h4 id="title<%= i %>">
                  <%= lesson.docs[i].title %>
                </h4>
                <a class="special" href="/choreographer/<%= lesson.docs[i].choreographerID %>">
                  <%= choreographer[i].username %>
                </a>
                <p><%= lesson.docs[i].price %> <%= __('dashboard.Yen') %> | <%= moment(lesson.docs[i].time).format('MM/DD HH:mm'); %></p>
                <p class="mb-0">
                    <%= __(`dashboard.search.level.${lesson.docs[i].level[0]}`) %> | <%= __(`dashboard.search.genre.${lesson.docs[i].genre[0]}`) %> | <%= __(`dashboard.search.purpose.${lesson.docs[i].purpose[0]}`) %> | <%= __(`dashboard.search.mood.${lesson.docs[i].mood[0]}`) %>
                </p>
              </div>
            </div>
            <% } %>
        </div>
    </div>
  </section>
</body>
<script>

  function charCut() {
    for (let i = 0; i < 15; i++) {
      let title = document.getElementById("title" + i).innerHTML;
      if (title[70]) {
        document.getElementById("title" + i).innerHTML = title.substring(0, 70) + "...";
      }
    }
  }
  var quotes = [
    "<%= __('dashboard.Quote.1') %>",
    "<%= __('dashboard.Quote.2') %>",
    "<%= __('dashboard.Quote.3') %>",
    "<%= __('dashboard.Quote.4') %>"
  ];
  let index = Math.floor(Math.random() * (quotes.length));

  document.getElementById("random").innerHTML = quotes[index];
</script>