<div class="header">
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Vibin'</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>

      </nav><!-- .nav-menu -->

      <a href="/upload" class="get-started-btn scrollto">Upload</a>

    </div>
  </header><!-- End Header -->

  <section id="results" class="results">
    <div class="container">
      <p>There are <%= results.length %> videos</p>
      <%- include ('partials/messages') %>
      <div class="row">
        <% for(var i=0; i < results.length; i++) { %>
        <div class="col-lg-4">
          <div class="box">
            <a href="<%= url %>">
            <img src="<%= results[i].thumbnail %>">
            </a>
            <h4><%= results[i].title %></h4>
            <p><%= results[i].choreographer %></p>
            <p><%= results[i].level[0] %></p>
          </div>
        </div>
        <% } %>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vibin'</h3>
            <p>
              <strong>Phone:</strong> +81 080 4339 9251<br>
              <strong>Email:</strong> info@vibin.tokyo<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Sitemap</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Vibin'</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->