<main role="main" class="container col-md-10 col-sm-10" style="margin-top:10%; margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-7 blog-main">
            <div class="blog-post">
                <div class="card-deck">
                    <div class="mb-3" style="min-width: 47vh; max-width: 80vh; margin-top: 30px;">
                        <h2>ご購入ありがとうございます!</h2>
                        <p></p>
                        <ol class="list-unstyled">
                            <li>下記のメールアドレスに詳細を送りました: <b>
                                    <%= user.email %>
                                </b></li><br>
                            <li>参加方法</li>
                            <li>1. ご自身の<a href="/users/profile">プロフィール</a>または<a
                                    href="/calendar">カレンダー</a>ページにてご購入したレッスンを参照してください。</li>
                            <li>2. 予定の時刻：
                                <%= moment(lesson.time).format('MM/DD HH:mm'); %>にレッスンをクリック、先生がライブ配信を開始します
                            </li>
                            <li>エラー・不具合等の問題が発生した場合、先生またはVibin'にご連絡ください。</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <aside class="col-md-5 blog-sidebar">
            <div class="p-3">
                <h4>購入したレッスン</h4>
                <a href="/lesson/student/<%= lesson.choreographerID %>">
                    <img style="height: 100%; width: 100%; display: block;" src="<%=lesson.thumbnail%>"
                        alt="thumbnail of the lesson"></a><br>
                <h1>
                    <%= lesson.title %> by
                        <a href="/choreographer/<%= choreographer._id %>">
                            <%= choreographer.username %>
                        </a>
                </h1>
                <ol class="list-unstyled">
                    <li>
                        <%= __(`dashboard.search.level.${lesson.level[0]}`) %> |
                            <%= __(`dashboard.search.genre.${lesson.genre[0]}`) %> |
                                <%= __(`dashboard.search.mood.${lesson.mood[0]}`) %>
                    </li>
                </ol>
                <h4>
                    <%= lesson.price %>
                        <%= __('dashboard.Yen') %> |
                            <%= moment(lesson.time).format('MM/DD HH:mm'); %>
                </h4>
                <hr>
                <div class="text-center">
                    <!-- <button class="btn btn-danger btn-lg btn-block" id="checkout-button"><%= __('reservation.purchase') %></button> -->
                    <!-- <a href="" class="btn btn-danger btn-lg btn-block">Purchased</a> -->
                </div>
            </div>

            <div class="p-3 mb-3 bg-snow rounded">
                <div class="text-center">
                    <h4>
                        <%= __('reservation.choreo') %>
                    </h4>
                    <img src="<%= choreographer.userPhoto %>" height="100" width="100" style="border-radius: 50%;"
                        alt="user photo">
                </div>
                <div class="text-center">
                    <a href="/choreographer/<%= choreographer._id %>" style="font-size: 22px;">
                        <%= choreographer.username %>
                    </a>
                </div>
                <br>
                <h5 style="white-space:pre-wrap;">
                    <%= choreographer.bio %>
                </h5>
                <p class="mb-0">
                    <%= __('reservation.contact') %>:
                        <a href="mailto:<%= choreographer.email %>">
                            <%= choreographer.email %>
                        </a>
                </p>
            </div>
        </aside>
    </div>
</main>