<head>
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <!-- by ymzk -->
    <!-- <script src="/assets/vendor/jquery/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.6.6/video-js.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.6.6/video.min.js"></script>
    <script src="https://player.live-video.net/1.2.0/amazon-ivs-videojs-tech.min.js"></script>
    <script src="https://player.live-video.net/1.2.0/amazon-ivs-quality-plugin.min.js"></script>
</head>
<!-- live video & chat section -->

<section id="live_grid">
    <input type="hidden" name="ch_playurl" id="ch_playurl" value="https://aws-us-east-1-401352423179-vibin-pipe.s3.amazonaws.com/ivs/v1/401352423179/4zWzBxMdwzHB/2021/7/9/9/48/emNVbuQBAFFw/media/hls/720p30/playlist.m3u8">
    <input type="hidden" name="ch_playTime" id="ch_playTime" value="">
    <input type="hidden" name="ch_arn" id="ch_arn" value="<%= ch_arn %>">
    <% if (typeof user.username != "undefined" ) { %>
        <input type="hidden" name="username" id="username" value="<%= user.username %>">
        <% } else { %>
            <input type="hidden" name="username" id="username" value="empty">
            <% } %>

                <input type="hidden" name="userphoto" id="userphoto" value="<%= user.userPhoto %>">
                <input type="hidden" name="chat_room_id" id="chat_room_id" value="<%= ch_streamkey %>">
                <div class="live_grid">
                    <div class="video_grid ">
                        <%- include ('partials/messages') %>

                            <div class="channelView-ivs">

                                <!-- vjs-theme-fantasy -->
                                <!-- vjs-theme-city -->
                                <!-- vjs-theme-forest -->
                                <!-- vjs-theme-sea -->
                                <video id="amazon-ivs-videojs" class="video-js vjs-fluid vjs-fill vjs-big-play-centered" preload="auto" controls autoplay playsinline></video>
                                <!-- <div id="self_techer_camera" autoplay="true"></div> -->
                            </div>


                            <div class="channel_info student">
                                <div class="user_info">
                                    <a href="" class="avatar live_status">
                                        <div class="outline"></div>
                                        <div class="inner_img">
                                            <figure>
                                                <img src="<%= user.userPhoto %>" alt="user photo">
                                            </figure>
                                        </div>
                                    </a>
                                    <div class="infor">
                                        <p class="name">
                                            <%= ch_name %>
                                        </p>
                                        <p class="level">先生 :
                                            <%= user.username %>
                                        </p>
                                        <div class="count_info">
                                            <div class="channel_status">
                                                <p class="login_users"></p>
                                                <p class="live_time"></p>
                                                <a href="/lesson/channel" class="exit_channel">配信を終了</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="chat_grid collapseOn">
                        <div class="contain">
                            <div class="chat_header">CHAT</div>
                            <div class="message_wrap">
                                <ul class="message_list"></ul>
                            </div>
                            <div class="input_wrap">
                                <!-- <button class="btn1">投げ銭</button> -->
                                <input name="" id="chat_msg" placeholder="コメントする"></input>
                                <button class="send_btn"><img src="/assets/img/send.png" alt=""></button>
                            </div>
                        </div>
                    </div>

                    <button class="toggle_chat_btn" id="toggle_chat_btn">
            <svg width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px"
                class="ScIconSVG-sc-1bgeryd-1 cMQeyU">
                <g>
                    <path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path>
                </g>
            </svg>
        </button>
                </div>
</section>

<!-- autoresize textarea -->
<script src="/assets/js/autosize.js"></script>

<!-- <script src="/assets/js/ie-adapter-0.2.3.js"></script> -->
<script src="/assets/js/video.techer.config.js"></script>

<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script> -->
<script src="/assets/js/chat.config.js"></script>