<head>
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
</head>
<!-- live video & chat section -->

<section id="live_grid">
    <input type="hidden" name="ch_playurl" id="ch_playurl" value="<%= ch_playURL %>">
    <input type="hidden" name="ch_playTime" id="ch_playTime" value="">
    <input type="hidden" name="ch_arn" id="ch_arn" value="<%= ch_arn %>">
    <input type="hidden" name="username" id="username" value="<%= email %>">
    <input type="hidden" name="userphoto" id="userphoto" value="<%= userPhoto %>">
    <input type="hidden" name="chat_room_id" id="chat_room_id" value="<%= ch_streamkey %>">
    <div class="live_grid">
        <div class="video_grid ">
            <%- include ('partials/messages') %>

            <div class="channelView-ivs">

                <!-- vjs-theme-fantasy -->
                <!-- vjs-theme-city -->
                <!-- vjs-theme-forest -->
                <!-- vjs-theme-sea -->
                <video id="amazon-ivs-videojs" class="video-js vjs-fluid vjs-fill vjs-big-play-centered" preload="auto"
                    controls autoplay playsinline></video>
                <!-- <div id="self_techer_camera" autoplay="true"></div> -->
            </div>


            <div class="channel_info">

                <div class="user_info">
                    <a href="" class="avatar live_status">
                        <div class="outline"></div>
                        <div class="inner_img">
                            <figure>
                                <% if (typeof userPhotoDef !="undefined" ) { %>
                                <img src="data:image/<%=userPhotoDef.contentType%>;base64, <%=userPhotoDef.data.toString('base64')%>" alt="user photo">
                                <% } else if (typeof userPhoto !="undefined" ) { %>
                                <img src="<%= userPhoto %>" alt="user photo">
                                <% } %>
                            </figure>
                        </div>
                    </a>
                    <div class="infor">
                        <p class="name"><%= ch_name %></p>
                        <p class="level">先生 : <%= username %></p>
                    </div>
                </div>

                <div class="count_info">
                    <a href="/lesson/channel" class="exit_channel">配信を終了</a>
                    <p class="login_users">1,399</p>
                    <p class="live_time">6:40:17</p>
                </div>
            </div>

        </div>

        <div class="chat_grid collapseOn">
            <div class="contain">
                <div class="chat_header">CHAT</div>
                <div class="message_wrap">
                    <ul class="message_list">
                        <!-- <li>
                            <figure class="avatar">
                                <img src="/assets/img/profile/user01.png" alt="">
                            </figure>
                            <div class="message">
                                地よば脈無ナ夫率ヌエラ写以コア全約シフ見高にぱげえ交広ホラミ日載な物子せルッ医席まに開季次でなイ止12索スリ記校ツケヲ前無ネ天72要ヱマ病聞ネホモ尿意あへ上座牛参さイゃし。
                                <span class="time">7:24 AM</span>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <div class="input_wrap">
                    <button class="btn1">投げ銭</button>
                    <textarea name="" id="chat_msg" placeholder="コメントする"></textarea>
                    <button class="send_btn"><img src="/assets/img/send.png" alt=""></button>
                </div>
            </div>
        </div>

        <button class="toggle_chat_btn" id="toggle_chat_btn">
            <svg width="100%" height="100%" version="1.1" viewBox="0 0 20 20" x="0px" y="0px"
                class="ScIconSVG-sc-1bgeryd-1 cMQeyU">
                <g>
                    <path d="M4 16V4H2v12h2zM13 15l-1.5-1.5L14 11H6V9h8l-2.5-2.5L13 5l5 5-5 5z"></path>
                </g>
            </svg>
        </button>
    </div>
</section>

<!-- autoresize textarea -->
<script src="/assets/js/autosize.js"></script>

<!-- <script src="/assets/js/ie-adapter-0.2.3.js"></script> -->
<script src="/assets/js/video.techer.config.js"></script>

<script src="/socket.io/socket.io.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script> -->
<script src="/assets/js/chat.config.js"></script>