<div class="header">
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Vibin'</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>

      </nav><!-- .nav-menu -->

      <a href="/upload" class="get-started-btn scrollto">Upload</a>

    </div>
  </header><!-- End Header -->

  <section id="upload">
    <div class="col-lg-6 m-auto">
      <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i>UPLOAD</h1>
      <%- include ('partials/messages') %>

      <div class="fill">
        <div class="form-group">
          <input type="urlFill" id="urlFill" name="urlFill" class="form-control" placeholder="Enter The URL"
          value="<%= typeof urlFill != 'undefined' ? urlFill : '' %>" />
        </div>
        <div class="text-center">
          <button class="button" onclick="authenticate().then(loadClient)">authorize and load</button>
          <button class="button" onclick="list()">Fill</button>
        </div>
      </div>

      <form action="/upload" method="POST">

        <div class="form-group">
          <label for="title">Title</label>
          <input type="title" id="title" name="title" class="form-control" placeholder="Enter The Title"
            value="<%= typeof title != 'undefined' ? title : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="thumbnail">Thumbnail</label>
          <input type="thumbnail" id="thumbnail" name="thumbnail" class="form-control" placeholder="Enter The Thumbnail"
            value="<%= typeof thumbnail != 'undefined' ? thumbnail : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="url">URL</label>
          <input type="url" id="url" name="url" class="form-control" placeholder="Enter The URL"
            value="<%= typeof url != 'undefined' ? url : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="id">ID</label>
          <input type="id" id="id" name="id" class="form-control" placeholder="Enter The ID"
            value="<%= typeof id != 'undefined' ? id : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="publishedDate">Date</label>
          <input type="publishedDate" id="publishedDate" name="publishedDate" class="form-control" placeholder="Enter The Date"
            value="<%= typeof publishedDate != 'undefined' ? publishedDate : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="language">Language</label>
          <input type="language" id="language" name="language" class="form-control" placeholder="Enter The Language"
            value="<%= typeof language != 'undefined' ? language : '' %>" readonly />
        </div>

        <div class="form-group">
          <label for="choreographer">Choreographer</label>
          <input type="choreographer" id="choreographer" name="choreographer" class="form-control"
            placeholder="Enter The Choreographer"
            value="<%= typeof choreographer != 'undefined' ? choreographer : '' %>" />
        </div>

        <div class="form-group">
          <label for="length">Length</label>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="length" name="length" class="form-check-input" type="checkbox" value="5-10">5 to 10
                minutes</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="length" name="length" class="form-check-input" class="form-check-input" type="checkbox"
                  value="10-30">10 to 30 minutes</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="length" name="length" class="form-check-input" class="form-check-input" type="checkbox"
                  value="30-60">30 to 60 minutes</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="length" name="length" class="form-check-input" class="form-check-input" type="checkbox"
                  value="60<">Over 60 minutes</label>
            </div>
        </div>

        <div class="form-group">
          <label for="level">Level</label>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="level" name="level" class="form-check-input" type="checkbox"
                  value="Beginner">Beginner</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="level" name="level" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Intermediate">Intermediate</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="level" name="level" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Advanced">Advanced</label>
            </div>
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="genre" name="genre" class="form-check-input" type="checkbox" value="Hip Hop">Hip
                Hop</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="genre" name="genre" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Locking">Locking</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="genre" name="genre" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Jazz">Jazz</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="genre" name="checkbox" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Breakin">Breakin</label>
            </div>
        </div>

        <div class="form-group">
          <label for="purpose">Purpose</label>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="purpose" name="purpose" class="form-check-input" type="checkbox"
                  value="Learning">Learning</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="purpose" name="purpose" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Diet">Diet</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="purpose" name="purpose" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Health">Health</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="purpose" name="purpose" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Entertainment">Entertainment</label>
            </div>
        </div>

        <div class="form-group">
          <label for="mood">Mood</label>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="mood" name="mood" class="form-check-input" type="checkbox" value="Groovy">Groovy</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="mood" name="mood" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Funky">Funky</label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input id="mood" name="mood" class="form-check-input" class="form-check-input" type="checkbox"
                  value="Chill">Chill</label>
            </div>
        </div>

        <div class="text-center"><button class="button" type="submit">Upload</button></div>
      </form>
    </div>
  </section>

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Vibin'</h3>
            <p>
              <strong>Phone:</strong> +81 080 4339 9251<br>
              <strong>Email:</strong> info@vibin.tokyo<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Sitemap</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Resi</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <script>
    function authenticate() {
      return gapi.auth2.getAuthInstance()
        .signIn({ scope: "https://www.googleapis.com/auth/youtube.readonly" })
        .then(function () { console.log("Sign-in successful"); },
          function (err) { console.error("Error signing in", err); });
    }
    function loadClient() {
      gapi.client.setApiKey("<%= API_key %>");
      return gapi.client.load("https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest")
        .then(function () { console.log("GAPI client loaded for API"); },
          function (err) { console.error("Error loading GAPI client for API", err); });
    }
    gapi.load("client:auth2", function () {
      gapi.auth2.init({ client_id: "<%= CLIENT_id %>" });
    });

    function list() {
      let url = document.getElementById("urlFill").value
      let id = url.replace('https://www.youtube.com/watch?v=', '');

      return gapi.client.youtube.videos.list({
        "part": [
          "snippet,contentDetails,statistics"
        ],
        "id": [
          id
        ]
      })
        .then(function (response) {
          document.getElementById("title").value = response.result.items[0].snippet.title;
          document.getElementById("thumbnail").value = response.result.items[0].snippet.thumbnails.standard.url;
          document.getElementById("url").value = url;
          document.getElementById("id").value = id;
          document.getElementById("publishedDate").value = response.result.items[0].snippet.publishedAt;
          document.getElementById("language").value = response.result.items[0].snippet.defaultLanguage;
          if (response.result.items[0].snippet.defaultLanguage == undefined) {
            document.getElementById("language").readOnly = false;
            document.getElementById("language").value = '';
          }
        },
          function (err) { console.error("Execute error", err); });
    }

  </script>