<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="本当にダンスが上達するオンラインのダンスレッスンを探すならVibin'で。刺激的なレッスンで自分の伸びしろを知りませんか？今日から始めましょう。" />
    <meta name="keywords" content="オンラインダンス, オンラインダンスレッスン, 上達, ダンス, ダンス初心者, 教える" />
    <meta name="author" content="Vibin' - 「上達」するオンラインダンスレッスン" />

    <title>「上達」するオンラインダンスレッスン | Vibin'</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon" />
    <!-- Bootstrap 4.5 -->
    <link rel="stylesheet" href="../../lp/assets/css/bootstrap.min.css" type="text/css" />
    <!-- animate -->
    <link rel="stylesheet" href="../../lp/assets/css/animate.css" type="text/css" />
    <!-- Swiper -->
    <link rel="stylesheet" href="../../lp/assets/css/swiper.min.css" />
    <!-- icons -->
    <link rel="stylesheet" href="../../lp/assets/css/icons.css" type="text/css" />
    <!-- aos -->
    <link rel="stylesheet" href="../../lp/assets/css/aos.css" type="text/css" />
    <!-- main css -->
    <link rel="stylesheet" href="../../lp/assets/css/main.css" type="text/css" />
    <!-- normalize -->
    <link rel="stylesheet" href="../../lp/assets/css/normalize.css" type="text/css" />

    <!-- Begin Mieruca Embed Code -->
    <script type="text/javascript" id="mierucajs">
        window.__fid = window.__fid || []; __fid.push([559216454]);
        (function () {
            function mieruca() { if (typeof window.__fjsld != "undefined") return; window.__fjsld = 1; var fjs = document.createElement('script'); fjs.type = 'text/javascript'; fjs.async = true; fjs.id = "fjssync"; var timestamp = new Date; fjs.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://hm.mieru-ca.com/service/js/mieruca-hm.js?v=' + timestamp.getTime(); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(fjs, x); };
            setTimeout(mieruca, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent("onload", mieruca) : window.addEventListener("load", mieruca, false)) : mieruca();
        })();
    </script>
    <!-- End Mieruca Embed Code -->
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <!-- Start header -->
            <header class="header-nav-center active-pink" id="myNavbar">
                <div class="container">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/about">
                            <img class="logo" src="../../assets/img/Vibin logo.webp" alt="logo" />
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto nav-pills">
                                <!-- <li class="nav-item">
                                                                                                                                                                                                                                                                                                                                    <a class="nav-link" href="/">先生になる</a>
                                                                                                                                                                                                                                                                                                                                </li> -->
                            </ul>
                            <div class="nav_account btn_demo3">
                                <a href="/users/login" class="btn btn-default">
                                    ログイン
                                </a>
                                <a href="/users/register"
                                    class="btn scale btn_sm_primary bg-pink c-white effect-letter rounded-pill">
                                    <div><span style="--move:0; --rotate:1; --part:1;">無</span><span
                                            style="--move:0.333333; --rotate:0.666667; --part:1;">料</span><span
                                            style="--move:0.666667; --rotate:0.333333; --part:1;">で</span><span
                                            style="--move:0.666667; --rotate:0.333333; --part:-1;">始</span><span
                                            style="--move:0.333333; --rotate:0.666667; --part:-1;">め</span><span
                                            style="--move:0; --rotate:1; --part:-1;">る</span></div>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>
                <!-- end container -->
            </header>
            <!-- End header -->

            <!-- Stat main -->
            <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <!-- Start Banner Section -->
                <section class="demo_1 banner_section" id="home">
                    <div class="container">
                        <div class="row justify-content-md-center text-center">
                            <div class="col-md-8 col-lg-8">
                                <div class="banner_title margin-b-10">
                                    <h1>「上達」する<br>オンラインダンスレッスンを</h1>
                                    <p>
                                        <span class="pcOnly">
                                            オンラインでどこでも、いつでも、ダンスをしませんか？<br>
                                        </span>
                                        初心者から上級者まで、実力派のダンサーのレッスンを気軽に受講するならVibin'で。
                                    </p>
                                    <a type="button" href="/users/register"
                                        class="btn btn_xl_primary scale border-0 sweep_letter sweep_top bg-pink c-white rounded-pill">
                                        <div class="inside_item">
                                            <span data-hover="Let's vibe👋">無料で始める</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- image Product -->
                            <div class="image_product">
                                <!-- <img src="../../lp/assets/img/web-sass.png" alt="" /> -->
                                <video autoplay muted loop>
                                    <source src="../../lp/assets/img/service_video.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Banner -->

                <!-- Start banner_about -->
                <section class="pt_banner_inner no-before blog-banner_without_image">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-6">
                                <div class="banner_title_inner">
                                    <h1 data-aos="fade-up" data-aos-delay="0" class="aos-init aos-animate">
                                        レッスンを探してみる
                                    </h1>
                                    <p data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                                        豊富なジャンルや難易度のオンラインレッスンをご用意⚡
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="filter_form aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <form class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="simple_search">
                                        <div class="form-group">
                                            <div class="input_group">
                                                <input type="search" class="form-control"
                                                    placeholder="検索する...">
                                                <i class="tio search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <select class="form-control custom-select" id="exampleFormControlSelect1">
                                            <option selected="null" value="">
                                                <%= __('dashboard.search.level.top') %>
                                            </option>
                                            <option value="Beginner">
                                                <%= __('dashboard.search.level.Beginner') %>
                                            </option>
                                            <option value="Intermediate">
                                                <%= __('dashboard.search.level.Intermediate') %>
                                            </option>
                                            <option value="Advanced">
                                                <%= __('dashboard.search.level.Advanced') %>
                                            </option>
                                            </select>
                                            </div>
                                            </div>
                                            
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <select class="form-control custom-select" id="exampleFormControlSelect2">
                                            
                                                        <option selected="null" value="any">
                                                            <%= __('dashboard.search.genre.top') %>
                                                        </option>
                                                        <option value="Hip Hop">
                                                            <%= __('dashboard.search.genre.Hip Hop') %>
                                                        </option>
                                                        <option value="Locking">
                                                            <%= __('dashboard.search.genre.Locking') %>
                                                        </option>
                                                        <option value="Jazz">
                                                            <%= __('dashboard.search.genre.Jazz') %>
                                                        </option>
                                                        <option value="Breakin">
                                                            <%= __('dashboard.search.genre.Breakin') %>
                                                        </option>
                                                        <option value="House">
                                                            <%= __('dashboard.search.genre.House') %>
                                                        </option>
                                                        <option value="Popping">
                                                            <%= __('dashboard.search.genre.Popping') %>
                                                        </option>
                                                        <option value="K-POP">
                                                            <%= __('dashboard.search.genre.K-POP') %>
                                                        </option>
                                                        <option value="TikTok">
                                                            <%= __('dashboard.search.genre.TikTok') %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <select class="form-control custom-select" type="mood" id="mood" name="mood">
                                                        <option selected="null" value="any">
                                                            <%= __('dashboard.search.mood.top') %>
                                                        </option>
                                                        <option value="Groovy">
                                                            <%= __('dashboard.search.mood.Groovy') %>
                                                        </option>
                                                        <option value="Funky">
                                                            <%= __('dashboard.search.mood.Funky') %>
                                                        </option>
                                                        <option value="Chill">
                                                            <%= __('dashboard.search.mood.Chill') %>
                                                        </option>
                                                        <option value="Romantic">
                                                            <%= __('dashboard.search.mood.Romantic') %>
                                                        </option>
                                                        <option value="Sexy">
                                                            <%= __('dashboard.search.mood.Sexy') %>
                                                        </option>
                                                        <option value="Calm">
                                                            <%= __('dashboard.search.mood.Calm') %>
                                                        </option>
                                                        <option value="Angry">
                                                            <%= __('dashboard.search.mood.Angry') %>
                                                        </option>
                                                        <option value="Peaceful">
                                                            <%= __('dashboard.search.mood.Peaceful') %>
                                                        </option>
                                                        <option value="Sad">
                                                            <%= __('dashboard.search.mood.Sad') %>
                                                        </option>
                                                        <option value="Fearful">
                                                            <%= __('dashboard.search.mood.Fearful') %>
                                                        </option>
                                                        <option value="Happy">
                                                            <%= __('dashboard.search.mood.Happy') %>
                                                        </option>
                                                        <option value="Tense">
                                                            <%= __('dashboard.search.mood.Tense') %>
                                                        </option>
                                                        <option value="Sassy">
                                                            <%= __('dashboard.search.mood.Sassy') %>
                                                        </option>
                                                        <option value="Savage">
                                                            <%= __('dashboard.search.mood.Savage') %>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                            </form>
                        </div> -->
                    </div>
                </section>
                <!-- End banner_about -->

                <!-- Start blog_masonry -->
                <section class="blog_masonry three_column">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="card-columns">
                                    <% for (let i=0; i < lesson.docs.length; i++) { %>
                                        <div class="card">
                                            <a href="/reservation/<%= lesson.docs[i]._id %>" class="link_poet">
                                                <div class="cover_link">
                                                    <img class="main_img" src="<%= lesson.docs[i].thumbnail %>"
                                                        alt="...">
                                                    <div class="auther_post">
                                                        <div class="media">
                                                            <img src="<%= choreographer[i].userPhoto %>"
                                                                alt="先生のプロフィール画像">
                                                            <div class="media-body my-auto">
                                                                <div class="txt">
                                                                    <h4>
                                                                        <%= choreographer[i].username %>
                                                                    </h4>
                                                                    <!-- <p>
                                                                        <%= lesson.docs[i].date %>
                                                                    </p> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="card-body">
                                                <div class="about_post">
                                                    <span class="c_ategory">
                                                        <a href="#">
                                                            <%= __(`dashboard.search.level.${lesson.docs[i].level[0]}`)
                                                                %>
                                                        </a>
                                                        <a href="#">
                                                            <%= __(`dashboard.search.genre.${lesson.docs[i].genre[0]}`)
                                                                %>
                                                        </a>
                                                    </span>
                                                    <span class="dot"></span>
                                                    <time>
                                                        <%= moment(lesson.docs[i].time).format('MM/DD HH:mm'); %>
                                                    </time>
                                                </div>
                                                <a href="/reservation/<%= lesson.docs[i]._id %>" class="d-block">
                                                    <h5 class="card-title">
                                                        <%= lesson.docs[i].title %>
                                                    </h5>
                                                    <p class="card-text">
                                                        <%= lesson.docs[i].price %>円
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End. blog_masonry -->

                <div class="container">
                    <div class="row justify-content-md-center text-center">
                        <div class="col-md-8 col-lg-8">
                            <div class="banner_title margin-t-3">
                                <a type="button" href="/"
                                    class="btn btn_xl_primary scale border-0 sweep_letter sweep_top bg-pink c-white rounded-pill">
                                    <div class="inside_item">
                                        <span data-hover="Let's vibe👋">無料のレッスンを探してみる</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="pt_banner_inner">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-8 col-lg-8">
                                <div class="banner_title_inner margin-b-10">
                                    <h1 data-aos="fade-up" data-aos-delay="0">
                                        <span class="c-pink">錯覚</span>するほど<br />
                                        リアルなダンス体験を
                                    </h1>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!-- End banner_about -->

                <!-- Start Section Products -->
                <section class="products_section product_demo2 bg-white margin-b-6" id="feature">
                    <div class="container">
                        <div class="tabs_works ">
                            <div class="row pt-0">
                                <div class="col-md-8 col-lg-4">
                                    <div class="title_sections margin-b-6">
                                        <h2 class="c-dark">
                                            機能
                                        </h2>
                                        <p class="c-gray">
                                            世界中どこからでもアクセスできる<br>
                                            動くダンススタジオ。
                                            <!-- オンラインダンスレッスンをリアルなスタジオでのレッスンのように。 -->
                                        </p>
                                    </div>

                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                        aria-orientation="vertical">
                                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
                                            href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                            aria-selected="true">
                                            <h4 class="margin-b-2 c-dark">鏡機能</h4>
                                            <p>
                                                ウェブカメラをバーチャル空間の鏡として使い、先生と一緒に踊りましょう🪞
                                            </p>
                                        </a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                            href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                            aria-selected="false">
                                            <h4 class="margin-b-2 c-dark">チャット機能</h4>
                                            <p>
                                                チャットで他の生徒や先生と質問や話をして、オンラインで盛り上がりましょう🎉
                                            </p>
                                        </a>
                                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill"
                                            href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                            aria-selected="false">
                                            <h4 class="margin-b-2 c-dark">画面反転機能</h4>
                                            <p>
                                                どっちが右？どっちが左？<br>
                                                もう悩むことはありません😖
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 ml-auto">
                                    <div class="tab-content img--tabs" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                            aria-labelledby="v-pills-home-tab">
                                            <video class="--img" autoplay muted loop>
                                                <source src="../../lp/assets/img/webcam_feature.mp4" type="video/mp4">
                                            </video>                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                            aria-labelledby="v-pills-profile-tab">
                                            <video class="--img" autoplay muted loop>
                                                <source src="../../lp/assets/img/service_video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                            aria-labelledby="v-pills-messages-tab">
                                            <video class="--img" autoplay muted loop>
                                                <source src="../../lp/assets/img/mirror_feature.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs -->
                    </div>
                    <!-- .container -->
                </section>
                <!-- End Section Products -->

                <!-- Start Services -->
                <!-- <section class="services_section padding-t-12" id="Services">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                <div class="items_serv" data-aos="fade-up" data-aos-delay="0">
                                    <div class="media">
                                        <div class="item-img">
                                            <img src="../../lp/assets/img/icons/phone.svg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <div class="txt-small">
                                                <span>ステップ1</span>
                                            </div>
                                            <h3>アカウント登録</h3>
                                            <p>
                                                簡単ワンステップでアカウントを登録。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                <div class="items_serv" data-aos="fade-up" data-aos-delay="100">
                                    <div class="media">
                                        <div class="item-img">
                                            <img src="../../lp/assets/img/icons/name.svg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <div class="txt-small">
                                                <span>ステップ2</span>
                                            </div>
                                            <h3>レッスンを探す</h3>
                                            <p>
                                                ジャンル、難易度、ムードから受けたいレッスンを探す。
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                                <div class="items_serv" data-aos="fade-up" data-aos-delay="200">
                                    <div class="media">
                                        <div class="item-img">
                                            <img src="../../lp/assets/img/icons/discount.svg" alt="" />
                                        </div>
                                        <div class="media-body">
                                            <div class="txt-small">
                                                <span>ステップ3</span>
                                            </div>
                                            <h3>踊る！</h3>
                                            <p>
                                                音に身をゆだねて好きなだけ身体を動かしましょう！
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- End Services -->

                <!-- Start FAQ -->
                <section class="faq_section">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-md-8 col-lg-8 text-center">
                                <div class="title_sections">
                                    <div class="before_title">
                                        <span>Frequently Asked</span>
                                        <span class="c-pink">Questions</span>
                                    </div>
                                    <h2>❓よくある質問❓</h2>
                                </div>
                            </div>
                            <!-- block Collapse -->
                            <div class="block_faq">
                                <div class="accordion" id="accordionExample">
                                    <div class="row justify-content-md-center">
                                        <div class="col-lg-8">
                                            <div class="card">
                                                <div class="card-header active" id="headingOne">
                                                    <h3 class="mb-0">
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse" data-target="#collapseOne"
                                                            aria-expanded="true" aria-controls="collapseOne">
                                                            他社オンラインレッスンとどこが違いますか？
                                                        </button>
                                                    </h3>
                                                </div>

                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>
                                                            Vibin'は「ダンスをするため」に開発されたプラットフォームです。自由にレッスンを教え、教わることのできるプラットフォームはVibin'だけです。
                                                        </p>
                                                        <p>
                                                            ダンサー目線で作られたサービスだからこそ、必要な機能やクオリティが揃っています。
                                                        </p>
                                                        <a href="#feature" class="c-pink">便利な機能を見てみる💡</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <h3 class="mb-0">
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse" data-target="#collapseTwo"
                                                            aria-expanded="true" aria-controls="collapseTwo">
                                                            入会金はいくらですか？
                                                        </button>
                                                    </h3>
                                                </div>

                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>
                                                            入会金はありません！Vibin'で踊り始めるための初期費用は<span
                                                                class="c-pink">「完全無料」</span>です。<br>
                                                            まずは無料でアカウントを登録しませんか？
                                                            たくさんのレッスンの中から一押しを探しましょう！
                                                        </p>
                                                        <a href="/" class="c-pink">無料で開催されているレッスンを探す💡</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h3 class="mb-0">
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse" data-target="#collapseThree"
                                                            aria-expanded="true" aria-controls="collapseThree">
                                                            どこからでも参加可能ですか？
                                                        </button>
                                                    </h3>
                                                </div>

                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                                    data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>
                                                            はい、世界中どこからでも端末一つでダンスレッスンを受講できます。
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End FAQ -->

                <section class="demo_1 banner_section banner_demo7">
                    <div class="container">
                        <div class="row">
                            <!-- Start service_mobile_app -->
                            <section class="service_mobile_app padding-py-12">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-5 col-lg-4">
                                            <div class="slider_mobile_ap">
                                                <!-- Swiper -->
                                                <div class="swiper-container swiper_vertical mh-50 oh">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="app_image">
                                                                <img src="../../lp/assets/img/mobile_lessons.png"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="app_image">
                                                                <img src="../../lp/assets/img/mobile_stream.png" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Add Pagination -->
                                                    <div class="swiper-pagination"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-lg-6">

                                            <div class="item_block">
                                                <div class="media">
                                                    <div class="ioco">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item_block mb-0">
                                                <div class="media">
                                                    <div class="ioco">
                                                    </div>
                                                    <div class="media-body">
                                                    </div>
                                                    <div class="banner_title">
                                                        <div class="offer bg-snow">
                                                            <!-- <span class="c-dark">Vibesを</span> -->
                                                            <!-- <span class="c-pink">感じる🎧</span> -->
                                                            <span class="c-black">Vibesを感じる🎧</span>
                                                        </div>
                                                        <h1 class="c-snow">
                                                            あなたと動く<br>
                                                            ダンススタジオ🕺
                                                        </h1>
                                                        <p class="c-white">
                                                            どこでも、いつでも、だれでも、
                                                            <span class="">気軽に</span>
                                                        </p>
                                                        <a href="/users/register" type="button"
                                                            class="btn btn_xl_primary scale border-0 sweep_letter sweep_top bg-pink c-white rounded-pill">
                                                            <div class="inside_item">
                                                                <span data-hover="Let's vibe👋">無料で始める</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </section>
                <!-- End. service_mobile_app -->
        </div>
    </div>
    </section>
    </main>
    <!-- end main -->
    </div>
    </main>
    <!-- end main -->
    </div>
    <!-- [id] content -->

    <!-- Start footer -->
    <footer class="footer_short position-relative bg-white z-index-3">
        <div class="container">
            <div class="row justify-content-md-center text-center">
                <div class="col-md-8">
                    <a class="logo c-dark" href="sass-modern.html">
                        <img src="../../lp/assets/img/Vibin logo.webp" alt="">
                    </a>
                    <div class="social--media">
                        <a href="https://www.instagram.com/vibin_dance/" class="btn so-link">
                            <i class="tio instagram"></i>
                        </a>
                        <a href="https://twitter.com/vibin_dance" class="btn so-link">
                            <i class="tio twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/Vibin-107436974343750" class="btn so-link">
                            <i class="tio facebook_square"></i>
                        </a>
                    </div>
                    <div class="other--links">
                        <a href="/">レッスンを受ける</a>
                        <a href="/users/login">ログインする</a>
                    </div>
                    <div class="opyright">
                        <p>
                            © 2022
                            <a href="https://vibin.tokyo" target="_blank">Vibin'</a>
                            All Right Reseved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Toasts -->
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
        <div class="toast toast_demo" id="myTost" role="alert" aria-live="assertive" aria-atomic="true"
            data-animation="true" data-autohide="false">
            <div class="toast-body">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <i class="tio clear"></i>
                </button>
                <h5>今なら初回レッスン無料👋</h5>
                <p><a href="#">レッスンを受けてみる</a></p>
            </div>
        </div>
    </div>
    <!-- End. Toasts -->

    <!-- jquery -->
    <script src="../../lp/assets/js/jquery-3.5.0.js" type="text/javascript"></script>
    <!-- jquery-migrate -->
    <script src="../../lp/assets/js/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- popper -->
    <script src="../../lp/assets/js/popper.min.js" type="text/javascript"></script>
    <!-- bootstrap -->
    <script src="../../lp/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <!--
  ============
  vendor file
  ============
   -->
    <!-- particles -->
    <script src="../../lp/assets/js/vendor/particles.min.js" type="text/javascript"></script>
    <!-- TweenMax -->
    <script src="../../lp/assets/js/vendor/TweenMax.min.js" type="text/javascript"></script>
    <!-- ScrollMagic -->
    <script src="../../lp/assets/js/vendor/ScrollMagic.js" type="text/javascript"></script>
    <!-- animation.gsap -->
    <script src="../../lp/assets/js/vendor/animation.gsap.js" type="text/javascript"></script>
    <!-- addIndicators -->
    <script src="../../lp/assets/js/vendor/debug.addIndicators.min.js" type="text/javascript"></script>
    <!-- Swiper js -->
    <script src="../../lp/assets/js/vendor/swiper.min.js" type="text/javascript"></script>
    <!-- countdown -->
    <script src="../../lp/assets/js/vendor/countdown.js" type="text/javascript"></script>
    <!-- simpleParallax -->
    <script src="../../lp/assets/js/vendor/simpleParallax.min.js" type="text/javascript"></script>
    <!-- waypoints -->
    <script src="../../lp/assets/js/vendor/waypoints.min.js" type="text/javascript"></script>
    <!-- counterup -->
    <script src="../../lp/assets/js/vendor/jquery.counterup.min.js" type="text/javascript"></script>
    <!-- charming -->
    <script src="../../lp/assets/js/vendor/charming.min.js" type="text/javascript"></script>
    <!-- imagesloaded -->
    <script src="../../lp/assets/js/vendor/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <!-- BX-Slider -->
    <script src="../../lp/assets/js/vendor/jquery.bxslider.min.js" type="text/javascript"></script>
    <!-- Sharer -->
    <script src="../../lp/assets/js/vendor/sharer.js" type="text/javascript"></script>
    <!-- sticky -->
    <script src="../../lp/assets/js/vendor/sticky.min.js" type="text/javascript"></script>
    <!-- Aos -->
    <script src="../../lp/assets/js/vendor/aos.js" type="text/javascript"></script>
    <!-- main file -->
    <script src="../../lp/assets/js/main.js" type="text/javascript"></script>
    <!-- sass -->
    <script src="../../lp/assets/js/pages/sass.js" type="text/javascript"></script>

</body>

</html>