<br>
<section id="results">
    <div class="container">
        <div class="col-lg-8 col-xs-12 m-auto text-center">
            <%- include ('partials/messages') %>
            <h2 class="text-center mb-3"><i class="fas fa-user-plus"></i><%= username %></h2>
            <p><%= type %>: <%= followCount %></p>

            <% for(let i=0; i < followCount; i++) { %>
            <a href="/users/<%= follow[i]._id %>"><%= follow[i].username %></a><br>
            <% } %>



        </div>
    </div>
</section>