<h3>レッスンが登録されました &#10024;</h3>
<a href="/reservation/<%= idLesson[i] %>">
      <img src="<%= thumbnailLesson[i] %>" alt="thumbnail">
    </a>
<h4>
    <%= titleLesson[i] %>
</h4>
<a href="/choreographer/<%= choreographerLesson[i] %>">
    <%= choreographerLesson[i] %>
</a>
<p>
    <%= __(`dashboard.search.level.${levelLesson[i]}`) %>
</p>